{% extends 'properties/index.html' %}
{% load static %}
{% block title %}edit lodge{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}
	<!-- Our Dashbord -->
	<style>			
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
				margin: 0;
		}

		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>
	<script src="https://unpkg.com/htmx.org@1.9.0"></script>
	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
								<h2 class="breadcrumb_title">Lodge rooms </h2>
								{% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} col-lg-12">
                                <P>{{ message }}</P>
                                </div>
                                {% endfor %}
                                {% endif %}
								<p>Availble room categories at {{lodge.name}}</p>
							</div>
						</div>
					</div>
					
					<div class="row mb70 align-center">
						{% for item in room_cats %}
						<div class="col-md-6 col-xl-3">
							<div class="feat_property all_listing_style5">
								<div class="thumb">
								{% if item.room_category_img.count >= 1 %}
									{% for image in item.room_category_img.all%}
										{% if forloop.counter == 1 %}
										<img class="img-whp" src="{{image.image.url}}" alt="room image">
										{% endif %}
									{% endfor %}
								{% else %}
								<img class="img-whp" src="{% static 'images/property/lls51.jpg' %}" alt="lls51.jpg">
								{% endif %}
								<div class="fp_footer all_listing_style5">
									<ul class="fp_meta">
									<li class="list-inline-item">
										<a href="#">
											<span class="fw600">${{item.price_per_night}}/night</span>
										</a>
									</li>
									</ul>
									<h4><a class="text-white" href="{% url 'lodges:edit-room-cat-details' item.id %}">{{item.room_type}}</a></h4>
								</div>
								</div>
								<div class="details">
								<div class="tc_content">
									<ul class="prop_details mb0">
									<li class="list-inline-item"><a href="#"><span class="flaticon-bed"></span><br> {{item.beds}} Beds</a></li>
									<!-- <li class="list-inline-item"><a href="#"><span class="flaticon-bath"></span><br> {{item.beds}} Baths</a></li> -->
									<li class="list-inline-item"><a href="#"><span class="flaticon-user"></span><br> {{item.max_guests}} Guests</a></li>
									</ul>
								</div>
								<div class="tc_content">
									<ul class="prop_details mb0">
										<li class="list-inline-item">
											<a href="{% url 'lodges:edit-room-cat-details' item.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"></span></a>
										</li>
										<li class="list-inline-item">
											<a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-trash"></span></a>
										</li>
										<li class="list-inline-item">
											<a href="{% url 'lodges:edit-room-images' item.id lodge.id %}" data-toggle="tooltip" data-placement="top" title="add images"><span class="flaticon-add"></span></a>
										</li>
									</ul>
								</div>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>

					<div class="row mt50">
						<div class="col-lg-12 text-center">
							<p class="mb0">Copyright © 2021 Afrihuts.com All Right Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
{% endblock %}