{% for image in images %}
<div class="col-sm-6 col-lg-6 pr5 " >
<div class="spls_style_two mb10">
    <a class="popup-img" href="{{image.image.url}}"><img class="img-fluid w100" src="{{image.image.url}}" alt="room image"></a>
</div>
<div class="div-2">
    <a 
    class="x" 
    type="button"
    hx-target="#room-images-list"
    hx-confirm="Are you sure you want to delete this image?"
    hx-delete="{% url 'lodges:delete-room-cat-image' image.id pk %}"
    >
        <p aria-label="Delete" class="x">x</p>
    </a>
</div>
<style>
    .x{
        font-size: 20px;
        color: red;
        font-weight: 900;
        cursor: pointer;
    }
    :hover.x{
        color: red;
    }
</style>
</div>
{% empty %}
<p>no images associated with this room category</p>
{% endfor %}