{% load static %}
    <!-- hx-trigger="revealed" 
    hx-get="{% url 'properties:lodges-htmx' %}?page={{lodges.number|add:1}}"
    hx-swap="afterend"
    hx-target="this" -->
<!-- <div class="row">  -->
    {% for lodge in lodges %}
    {% if forloop.last %}
    <div 
    class="col-lg-4 " 
    
    >
        {% else %}
        <div class="col-lg-4">
        {% endif %}
        <div class="feat_property map">
            <div class="thumb">
            <a href="{% url 'lodges:lodge-detail' lodge.id %}">
                {% for image in lodge.pictures.all %}
                {% if image.is_feature %}
                <img class="img-whp" loading="lazy" src="{{image.img.img.url}}" alt="location.png">
                {% endif %}
                {% endfor %}
            </a>
            </div>
            <div class="details">
            <div class="tc_content">
                <ul class="fp_meta mb0">
                    <h4 class="list-inline-item "><a class="text-uppercase" href="{% url 'lodges:lodge-detail' lodge.id %}">{{lodge.name}}</a></h4>
                    {% if user in lodge.user_bookmark.all %}
                    <li class="list-inline-item float-right" id="bookmark_lodge{{lodge.id}}">
                        <a 
                        class="icon" 
                        hx-trigger="click"
                        hx-post="{% url 'lodges:remove-bookmark' lodge.id %}" 
                        hx-swap="outerHTML"
                        hx-target="#bookmark_lodge{{lodge.id}}"
                        >
                        <i class="bi bi-heart-fill text-danger"></i></a> 
                    </li>
                    {% else %}
                    <li class="list-inline-item float-right" id="bookmark_lodge{{lodge.id}}">
                        <a 
                        hx-trigger="click"
                        hx-target="#bookmark_lodge{{lodge.id}}"
                        hx-swap="outerHTML"
                        hx-post="{% url 'lodges:lodge-bookmark' lodge.id %}" 
                        class="icon" >
                        <span class="flaticon-heart-shape-outline"></span></a></i></li>
                    {% endif %}
                </ul>
                <br>
                <p><span class="heading-color"></span> {{lodge.map_location}}<span class="heading-color"></span></p>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}


    
    {% if lodges.has_next %}
    
        <div id="load-more-lodges" class="nav nav-tabs mb50 col-lg-12 justify-content-center">
            <button 
            class="nav-link load-more-btn"
            hx-get="{% url 'properties:lodges-htmx' %}?page={{lodges.next_page_number}}"
            hx-target="#load-more-lodges"
            hx-swap="outerHTML"
            >Load more...</button>
        </div>
    
    {% endif %}
    
<!-- </div> -->
<section id="lodge_messages">
    {% include 'properties/partials/toasts.html' %}
</section>

