{% load static %}

{% for property in properties %}
<div class="col-lg-3"> 
    <div class="feat_property">
        <div class="thumb"> 
            {% for image in property.property_images.all %}
            {% if image.is_feature %}
            <img class="img-whp" src="{{image.file.url}}" alt="fl1.jpg">
            {% endif %}
            {% endfor %}
            <div class="thmb_cntnt">
            {% if property.is_featured %}
            <ul class="tag mb0">
                <li class="list-inline-item"><a href="#">FEATURED</a></li>
            </ul>
            {% endif %}
            {% if property.property_type == 'SALE' %}
            <ul class="tag2 mb0">
                <li class="list-inline-item"><a href="#">FOR SALE</a></li>
            </ul>
            {% endif %}
            </div>
            <div class="thmb_cntnt2">
            <ul class="listing_gallery mb0">
                <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-photo-camera mr5"></span> 22</a></li>
                <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-play-button mr5"></span> 3</a></li>
            </ul>
            </div>
        </div>      
        <div class="details">
            <div class="tc_content">
                <div class="badge_icon"></div>
                <h4><a href="{% url 'properties:property-single' property.id %}">{{property.name}}</a></h4>
                <p>{{property.location_area}}</p>
                <ul class="prop_details mb0">
                    <li class="list-inline-item"><a href="#"><span class="flaticon-bed pr5"></span> <br>{{property.no_rooms}} Beds</a></li>
                    <li class="list-inline-item"><a href="#"><span class="flaticon-bath pr5"></span> <br>{{property.no_baths}} Bath</a></li>
                    <li class="list-inline-item"><a href="#"><span class="flaticon-car pr5"></span> <br>{{property.no_garages}} Garage</a></li>
                    <li class="list-inline-item"><a href="#"><span class="flaticon-ruler pr5"></span> <br>{{property.compound_area}} Sq Ft</a></li>
                </ul>
            </div>
            <div class="fp_footer">
                <ul class="fp_meta float-left mb0">
                    <li class="list-inline-item">
                    <span class="heading-color fw600">${{property.price}} {% if property.property_type == 'RENT' %}/mo{% endif %} </span></a></li>
                </ul>
                <ul class="fp_meta float-right mb0">
                    <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-resize"></span></a></li>
                    <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-add"></span></a></li>
                    <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-heart-shape-outline"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    
        
 
</div>
 {% endfor %}  
{% if properties.has_next %}
    <div id="load-more-properties" class="nav nav-tabs mb50 col-lg-12 justify-content-center">
        <button 
        class="nav-link load-more-btn"
        hx-get="{% url 'properties:home' %}?page={{properties.next_page_number}}"
        hx-target="#load-more-properties"
        hx-swap="outerHTML"
        >Load more...</button>
    </div>
{% endif %}