{% for doc in docs %}
<div class="col-sm-6 col-lg-6 pr5 " >
<div class="spls_style_two mb10">
    <a class="popup-img" href="{{doc.file.url}}"><img class="img-fluid w100" src="{{doc.file.url}}" alt="{{doc.name}}"></a>
	<embed src="{{doc.file.url}}" type="">
</div>
<div class="div-2">
    <a 
    class="x" 
    type="button"
    hx-target="#property-images-list"
    hx-confirm="Are you sure you want to delete this document?"
    hx-delete="{% url 'properties:delete-property-doc' pk doc.id %}"
    >
        <p aria-label="Delete" class="x">x</p>
    </a>
</div>
<style>
    .x{
        font-size: 20px;
        color: red;
        font-weight: 900;
        cursor: pointer;
    }
    :hover.x{
        color: red;
    }
</style>
</div>
{% empty %}
<p>no documents associated with this property</p>
{% endfor %}