{% extends 'properties/index.html' %}
{% load static %}
{% block title %}Property{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}
	<!-- Our Dashbord -->
	<script src="https://unpkg.com/htmx.org@1.9.0"></script>
	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
								<h2 class="breadcrumb_title">Documents and Image Upload</h2>
								
							</div>
						</div>
					</div>
				<div class="row">

				<div class="col-lg-12">

					<!-- media files -->
		          <div class="new_property_form">
					<h4 class="title mb30">Documents of your Property</h4>
					<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
					<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
		            <style>
						.dz{
							border: dashed !important;
							border-color: #acc !important;
							border-radius: 10px !important;
						}
						.dz:hover{
							background-color: aliceblue !important;
						}
					</style>

					<form action="{% url 'properties:edit-listing-documents' pk %}" method="post" id="y-dz" class="dropzone dz">
						{% csrf_token %}
						<div class="fallback">
							<input name="file" type="file" multiple required/>
						</div>
						
					</form>
					
					<div class="col-lg-5">
					{% if docs %}
					<h5 class="title mt-4">Below are your recently uploaded images</h5>
					<div class="row mt-4">
						
						{% for doc in docs %}
						<div class="col-sm-4 col-lg-4 pr5 pr15-767">
						<div class="spls_style_two mb10">
							<a class="popup-img" href="{{doc.file.url}}"><img class="img-fluid w100" src="{{doc.file.url}}" alt="2.jpg"></a>
							<embed src="{{doc.file.url}}" type="">
						</div>
                        <div class="div-2"><a class="x" href="#"><p aria-label="Delete" class="x">x</a></p></div>
                        <style>
                            .x{
                                font-size: 20px;
                                color: red;
                                font-weight: 900;
                                cursor: pointer;
                            }
                            :hover.x{
                                color: red;
                            }
                        </style>
						</div>
						{% endfor %}
						
					</div>
					{% endif %}

		          </div>

				  <div class="text-right mt-4">
						<button class="btn btn-thm listing_save_btn" id="process-btn">Process</button>
                        <button type="submit" class="btn btn-thm listing_save_btn">Save</button>
                    </div>
				</div>
				
				</div>
					<div class="row mt50">
						<div class="col-lg-12 text-center">
							<p class="mb0">Copyright © 2021 Afrihuts.com All Right Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		var myDropZone = new Dropzone("#y-dz", {
			paramName: "file", // The name of the file parameter to be sent to the server
			maxFilesize: 5, // Maximum file size in megabytes
			autoProcessQueue: false,
			parallelUploads: Infinity,
			acceptedFiles: ".jpg,.jpeg,.png, .pdf", // Accepted file types
			init: function() {
				this.on("success", function(file, response) {
				// Handle successful upload
				console.log(response);
				});
				this.on("error", function(file, errorMessage) {
				// Handle upload error
				console.error(errorMessage);
				});
			}
			});

			var button = document.getElementById('process-btn');

			button.addEventListener("click", function () {myDropZone.processQueue()});
	</script>
	
	
	
{% endblock %}