{% extends 'properties/index.html' %}
{% load static %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block title %}Onbording{% endblock %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}

	<!-- Our Dashbord -->
	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
								<h4 class="breadcrumb_title">Hello, <span class="text-alice-blue">{{request.user.username}}!</span></h4>
								<h2>Which section of your property would you like to edit?</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 ">
							<div class="ff_one">
								<div class="icon"><span class="flaticon-house"></span></div>
								<div class="detais">
									<h4><a href="{% url 'properties:edit-listing-details' pk %}">Property Details</a></h4>
                                    
								</div>
							</div>
						</div>
						<div class="col-md-6 ">
							<div class="ff_one">
								<div class="icon"><span class="flaticon-house"></span></div>
								<div class="detais">
									<h4><a href="{% url 'properties:edit-listing-others' pk %}">Property Location and Amenities</a></h4>
								</div>
							</div>
						</div>
						<div class="col-md-6 ">
							<div class="ff_one">
								<div class="icon"><span class="flaticon-house"></span></div>
								<div class="detais">
									<h4><a  href="{% url 'properties:edit-listing-media' pk %}">Property Media</a></h4>
								</div>
							</div>
						</div>
                        <div class="col-md-6 ">
							<div class="ff_one">
								<div class="icon"><span class="flaticon-house"></span></div>
								<div class="detais">
									<h4><a  href="{% url 'properties:edit-listing-policies' pk %}">Property Policies</a></h4>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt50">
						<div class="col-lg-12 text-center">
							<p class="mb0">Copyright © 2021 afrihuts.com. All Right Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}