{% extends 'properties/index.html' %}
{% load static %}
{% block title %}Property Edit{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}
	<!-- Our Dashbord -->
	<style>
		.inp{
			
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
				margin: 0;
		}

		input[type=number] {
			-moz-appearance: textfield;
		}
	</style>
	<script src="https://unpkg.com/htmx.org@1.9.0"></script>
	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
								<h2 class="breadcrumb_title">Property Policy Edit Form</h2>
								{% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} col-lg-12">
                                <P>{{ message }}</P>
                                </div>
                                {% endfor %}
                                {% endif %}
							</div>
						</div>
					</div>
				<div class="row">

				<!-- lodge details -->
				<div class="col-lg-12">
		          <div class="new_property_form">
					<h4 class="title mb30">Property Information</h4>
		            <form class="contact_form" id="property_creation_form" name="contact_form"
                    action="{% url 'properties:edit-listing-details' pk %}" method="post" validate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="new_property_form">
                                <h4 class="title mb30">Contact Information</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb30">
                                            {{form.name}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ui_kit_select_search add_new_property mb30">
                                            {{form.property_type}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form.desc}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button id="main-submit" class="btn btn-thm listing_save_btn" type="submit"
                            form="contact_form">Save</button>
                    </div>
                </form>
		          </div>
				</div>
				</div>
					<div class="row mt50">
						<div class="col-lg-12 text-center">
							<p class="mb0">Copyright © 2021 Afrihuts.com All Right Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	
{% endblock %}