{% extends 'properties/index.html' %}
{% load static %}
{% block title %}create bnb{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}
	<!-- Our Dashbord -->
	<script src="https://unpkg.com/htmx.org@1.9.0"></script>
	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
								<h2 class="breadcrumb_title">Lodge amenities </h2>
								
							</div>
						</div>
					</div>
				<div class="row">
				<div class="col-lg-12">
				  <!-- amenitites -->
				  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		          <div class="new_property_form">
					<h4 class="mb30">Select Available amenities</h4>
					<button class="btn btn-thm" type="button" onclick="{selectAll()}" >Select All</button>
					<button class="btn btn-thm" type="button" onclick="{deSelectAll()}" >Remove All</button>
					<form method="post" action="{% url 'bnb:bnb-amenities-add' %}">
                    {% csrf_token %}
					<div class="ui_kit_select_search form-group list_hightlights df mt20">
						
						<ul class="add_listing selectable-list row mx-2">
							{% for amenity in form.amenity %}
							<li>
								<div class="custom-control custom-checkbox">
                                    {{amenity}}
								</div>
							</li>
							{% endfor %}
						</ul>
                        
						<!-- <script>
							$('input[type=checkbox][name=check]').on('change', function(e){
								e.preventDefault();
								var amenityId = $(this).data('index');
								$.ajax({
									type: "POST",
									url: "{% url 'lodges:amenties-handler' %}",
									data: {
										amenityID: amenityId,
										csrfmiddlewaretoken: "{{csrf_token}}",
										action: "post",
									},
									success: function (json) {
										console.log('done: 200')
									},
									error: function (xhr, errmsg, err) {},
								})
							})
							function selectAll(){
								var element = document.getElementsByName('check');
								let arrayID = []
								for (var i=0; i<element.length; i++){
									if (element[i].type == 'checkbox'){
										element[i].checked = true;
										let elementID = parseInt(element[i].value);
										arrayID.push(elementID);

									}
								}
								console.log(arrayID)
								// let data = {'list': arrayID}
								// $.ajax({
								// 	type: "POST",
								// 	url: "{% url 'lodges:amenties-handler' %}",
								// 	data: {
								// 		amenityID: data,
								// 		csrfmiddlewaretoken: "{{csrf_token}}",
								// 		action: "post",
								// 	},
									
								// 	success: function (json) {
								// 		console.log('done: 200')
								// 	},
								// 	error: function (xhr, errmsg, err) {},
								// })
							}
							function deSelectAll(){
								var element = document.getElementsByName('check');
								for (var i=0; i<element.length; i++){
									if (element[i].type == 'checkbox'){
										element[i].checked = false;
									}
								}
							}

						</script> -->
					</div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-thm listing_save_btn">Next</button>
                    </div>
					</form>
		          </div>			  
				</div>
				
				</div>
					<div class="row mt50">
						<div class="col-lg-12 text-center">
							<p class="mb0">Copyright © 2021 Afrihuts.com All Right Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
{% endblock %}