{% extends 'properties/index.html' %}
{% load static %}

{% block title %}Property Listing{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}


	<!-- Our Coming Soon Page -->
	<section class="our-coming-soon">
		<div class="container">
			<div class="row">
				<div class="col-xl-6">
					<div class="error_page footer_apps_widget text-center">
						<img class="img-fluid" src="{{qr.image.url}}" alt="coming-soon.png">
						<h4>{{qr.booking.ref_code}}</h4>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="error_page footer_apps_widget">
						<div class="erro_code"><h1>E-Ticket Confirmation.</h1></div>
						<ul class="order_list list-style-check-circle list-inline-item">
							<li>1. Your E-Ticket (QR Code) acts as a digital ticket for the accommodation</li>
							<li>2. The E-Ticket contains important information about your reservation</li>
							<li>3. Save this E-Ticket to your device for easy access during your stay</li>
							<li>4. Remember to present this E-Ticket upon arrival at your destination</li>
							<li>5. For security purposes, please do not share this E-Ticket</li>
							<li>6. Feel free to reach out to the support team for any E-Ticket issues</li>
							
							{% if property.meta_title != 'Property' %}
							<li>7. This ticket will be elligible for a refund up until <b style="color: red;">{{booking.check_in}}</b></li>
							{% endif %}
						</ul>
						
						{% if time is not None %}
						<div class="event_counter_plugin_container mt30 mb20">
							<div class="event_counter_plugin_content">
								<h3>Time to check in</h3>
								<ul>
									<li><span id="days"></span><div class="time_text">days</div></li>
									<li><span id="hours"></span><div class="time_text">Hours</div></li>
									<li><span id="minutes"></span><div class="time_text">Minutes</div></li>
									<li><span id="seconds"></span><div class="time_text">Seconds</div></li>
								</ul>
							</div>
						</div>	
						{% endif %}
							
						<a href="{% url 'payments:download' property.id %}"><button class="btn btn-primary mb-2">Email and Download</button></a>
            			<a href="{% url 'accounts:dashboard' %}"><button class="btn btn-primary mb-2">Finish</button></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Footer -->
  	{% include 'properties/footer.html' %}
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<script>
	// warn user of refreshing  page
	window.addEventListener("beforeunload", function(event) {
		event.preventDefault();
		event.returnValue = "WARNING: Reloading this page may cause an error";
	});

	let time = "{{time|date:'F j, Y'}} 00:00:00";
  	const second = 1000,
		minute = second * 60,
		hour = minute * 60,
		day = hour * 24;
	let countDown = new Date(time).getTime(),
    x = setInterval(function() {
		let now = new Date().getTime(),
			distance = countDown - now;
		document.getElementById('days').innerText = Math.floor(distance / (day)),
		document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
		document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
		document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
	}, second)
</script>
{% endblock %}
