<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html><head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <title>index</title>
</head>
<body>

{% if property.meta_title == 'Property' %}

<div style="width: 100%; height: 100%; position: relative; background: white">
    <img style="width: 246px; height: 81px; left: 63px; top: 6px; position: absolute" src="{{current_site}}{{ static 'images/web_img/logos/afrihuts-03 1.svg' }} " />
    <div style="left: 43px; top: 132px; position: absolute; color: black; font-size: 15px; font-family: Inter; font-weight: 700; word-wrap: break-word">New booking confirmed, John  arrives<br/>13 Jul.</div>
    <div style="left: 44px; top: 241px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">John</div>
    <div style="left: 44px; top: 262px; position: absolute; color: #676767; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">South Africa<br/>2 afrihuts booked </div>
    <div style="width: 292px; height: 52px; left: 49px; top: 982px; position: absolute"><span style="color: black; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">Cancellations<br/></span><span style="color: #676767; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">Your cancellation policy for your guests is </span><span style="color: #0369B3; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">strict (grace Period)<br/></span><span style="color: black; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word"><br/></span></div>
    <div style="width: 292px; height: 52px; left: 49px; top: 1073px; position: absolute; color: #0369B3; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">Send Message</div>
    <div style="width: 292px; height: 52px; left: 48px; top: 1021px; position: absolute"><span style="color: black; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">Get Ready to Welcome John<br/></span><span style="color: #676767; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word"><br/></span><span style="color: black; font-size: 8px; font-family: Inter; font-weight: 700; word-wrap: break-word">Provide Directions<br/></span><span style="color: black; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">check that your guest knows how to get to your place.<br/><br/></span></div>
    <div style="width: 272px; height: 0px; left: 44px; top: 326px; position: absolute; border: 0.25px rgba(0, 0, 0, 0.34) solid"></div>
    <div style="width: 272px; height: 0px; left: 52px; top: 835px; position: absolute; border: 0.25px rgba(0, 0, 0, 0.34) solid"></div>
    <div style="width: 272px; height: 0px; left: 52px; top: 972px; position: absolute; border: 0.25px rgba(0, 0, 0, 0.34) solid"></div>
    <div style="width: 37px; height: 0px; left: 287px; top: 900px; position: absolute; border: 0.25px black solid"></div>
    <div style="width: 46px; height: 0px; left: 49px; top: 1090px; position: absolute; border: 0.25px rgba(0, 0, 0, 0.34) solid"></div>
    <div style="width: 110px; height: 26px; left: 131px; top: 785px; position: absolute">
        <div style="width: 110px; height: 26px; left: 0px; top: 0px; position: absolute; background: #FA4545; border-radius: 6px; border: 0.50px rgba(229.62, 220.69, 220.69, 0) solid"></div>
        <div style="left: 33px; top: 5px; position: absolute; text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 600; word-wrap: break-word">Decline</div>
    </div>
    <div style="left: 43px; top: 171px; position: absolute; color: black; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">send a message to confirm check in details<br/>and welcome John</div>
    <div style="width: 60px; height: 60px; left: 268px; top: 232px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
    <img style="width: 291px; height: 189px; left: 40px; top: 345px; position: absolute; border-radius: 5px" src="https://via.placeholder.com/291x189" />
    <div style="left: 48px; top: 551px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Kaya Mawa Beach resort</div>
    <div style="left: 48px; top: 571px; position: absolute; color: #676767; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">1 night<br/>2 guests<br/>2 Kids</div>
    <div style="left: 278px; top: 860px; position: absolute; color: #676767; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">   $160.48<br/>   $20<br/>  -$18.04<br/></div>
    <div style="left: 278px; top: 903px; position: absolute; color: #676767; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">   $161.48</div>
    <div style="left: 45px; top: 900px; position: absolute; color: #676767; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">  Your earn</div>
    <div style="width: 282px; height: 21px; left: 49px; top: 937px; position: absolute; color: #676767; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">On the day your guests checks in, the payment method you supplied will<br/>be credited. For details see your invoices in your  dashboard.</div>
    <div style="width: 273px; height: 40px; left: 49px; top: 622px; position: absolute">
        <div style="left: 0px; top: 6px; position: absolute"><span style="color: black; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">Check in<br/></span><span style="color: #676767; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">Tue 23rd aug<br/>8:00PM</span></div>
        <div style="left: 207px; top: 6px; position: absolute; text-align: right"><span style="color: black; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">Check  out<br/></span><span style="color: #4F4F4F; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">Fri 23rd aug<br/>(11:00AM)</span></div>
        <div style="width: 272px; height: 0px; left: 1px; top: 0px; position: absolute; border: 0.25px rgba(0, 0, 0, 0.34) solid"></div>
    </div>
    <div style="left: 52px; top: 695px; position: absolute"><span style="color: black; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">Confirmation Code<br/></span><span style="color: black; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">01KMBR<br/></span></div>
    <div style="left: 301px; top: 705px; position: absolute; text-align: right; color: #008FFF; font-size: 8px; font-family: Inter; font-weight: 500; word-wrap: break-word">Save </div>
    <div style="width: 272px; height: 0px; left: 52px; top: 677px; position: absolute; border: 0.25px rgba(0, 0, 0, 0.34) solid"></div>
    <div style="width: 272px; height: 0px; left: 52px; top: 729px; position: absolute; border: 0.25px rgba(0, 0, 0, 0.34) solid"></div>
    <div style="left: 52px; top: 850px; position: absolute"><span style="color: black; font-size: 10px; font-family: Inter; font-weight: 700; word-wrap: break-word">Payment<br/></span><span style="color: #1E1E1E; font-size: 10px; font-family: Inter; font-weight: 500; word-wrap: break-word">$80.24 x 2 Nights<br/>Add ons<br/>afrihuts fee (10%)<br/></span></div>
</div>

{% elif property.meta_title == 'Lodge' %}
{% elif property.meta_title == 'BnB' %}
{% endif %}
    
</body></html>