{% extends 'properties/index.html' %}
{% load static %}
{% block header %}
    {% include 'properties/header.html' %}
{% endblock header %}
{% block title %}Home{% endblock %}
{% block content %}


  <!-- Search Field Modal -->
  <section class="modal fade search_dropdown" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title">ADVANCED SEARCH</h6>
          <a class="closer" data-dismiss="modal" aria-label="Close" href="#"><span aria-hidden="true"><img src="{% static 'images/icons/close.svg' %}"  alt="close.svg"></span></a>
        </div>
        <div class="modal-body">
          <div class="popup_modal_wrapper">
            <form method="post" action="{% url 'properties:advanced-search' %}">
              {% csrf_token %}
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="adv_src_pmodal">
                      <h6 class="title">Bathrooms</h6>
                      <div class="ui_kit_select_box">
                        <select class="selectpicker custom-select-lg mb20">
                          <option value="">Select Bathrooms</option>
                          <option value="One">1</option>
                          <option value="Two">2</option>
                          <option value="Three">3</option>
                          <option value="Four">4</option>
                          <option value="Five">5</option>
                          <option value="Five">6</option>
                          <option value="Five">7</option>
                          <option value="Five">8</option>
                          <option value="Five">9</option>
                          <option value="Five">10</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="adv_src_pmodal">
                      <h6 class="title">Rooms</h6>
                      <div class="ui_kit_select_box">
                        <select class="selectpicker custom-select-lg mb20">
                          <option value="">Select Rooms</option>
                          <option value="One">1</option>
                          <option value="Two">2</option>
                          <option value="Three">3</option>
                          <option value="Four">4</option>
                          <option value="Five">5</option>
                          <option value="Five">6</option>
                          <option value="Five">7</option>
                          <option value="Five">8</option>
                          <option value="Five">9</option>
                          <option value="Five">10</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="adv_src_pmodal">
                      <h6 class="title">Garages</h6>
                      <div class="ui_kit_select_box">
                        <select class="selectpicker custom-select-lg mb20">
                          <option value="">Select Beds</option>
                          <option value="One">1</option>
                          <option value="Two">2</option>
                          <option value="Three">3</option>
                          <option value="Four">4</option>
                          <option value="Five">5</option>
                          <option value="Five">6</option>
                          <option value="Five">7</option>
                          <option value="Five">8</option>
                          <option value="Five">9</option>
                          <option value="Five">10</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="adv_src_pmodal">
                      <h6 class="title">STATUS</h6>
                      <div class="ui_kit_select_box">
                        {{search.status}}
                        <!-- <select class="selectpicker custom-select-lg mb20">
                          <option value="">Select Status</option>
                          <option value="Active">Active</option>
                          <option value="Deactive">Deactive</option>
                          <option value="Pending">Pending</option>
                          <option value="Others">Others</option>
                        </select> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="adv_src_pmodal">
                      <h6 class="title">TYPE</h6>
                      <div class="ui_kit_select_box">
                        {{search.property_type}}
                        <!-- <select class="selectpicker custom-select-lg mb20">
                          <option value="">Select Status</option>
                          <option value="Active">Active</option>
                          <option value="Deactive">Deactive</option>
                          <option value="Pending">Pending</option>
                          <option value="Others">Others</option>
                        </select> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="adv_src_pmodal">
                      <h6 class="title">LOCATION</h6>
                      <div class="ui_kit_select_box">
                        {{search.district}}
                        <!-- <select class="selectpicker custom-select-lg mb20">
                          <option value="">Select Status</option>
                          <option value="Active">Active</option>
                          <option value="Deactive">Deactive</option>
                          <option value="Pending">Pending</option>
                          <option value="Others">Others</option>
                        </select> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 mb30-md">
                    <div class="adv_src_pmodal">
                      <h6 class="title">Price</h6>
                      <div class="mt20" id="slider"></div>
                      <span id="slider-range-value1"></span>
                      <span id="slider-range-value2"></span>
                    </div>
                  </div>
                  <div class="col-lg-6 mb30-md">
                    <div class="adv_src_pmodal">
                      <h6 class="title">Area (sq ft)</h6>
                      <div class="form-group">
                        <input type="text" class="form-control area_input float-left" placeholder="Min. Area">
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control area_input float-right" placeholder="Max. Area">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt30">
                  <div class="col-lg-12">
                    <div class="adv_src_pmodal">
                      <h6><span class="title">Amenities</span> <a class="tdu text-thm fz13 ml10" href="#">Select / Deselect All</a></h6>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="adv_src_pmodal mb20">
                      <div class="ui_kit_checkbox">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM1">
                          <label class="custom-control-label" for="customCheckM1">Air Conditioning</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM2">
                          <label class="custom-control-label" for="customCheckM2">Barbeque</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM3">
                          <label class="custom-control-label" for="customCheckM3">Dryer</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM4">
                          <label class="custom-control-label" for="customCheckM4">Gym</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM5">
                          <label class="custom-control-label" for="customCheckM5">Laundry</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="adv_src_pmodal mb20">
                      <div class="ui_kit_checkbox">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM6">
                          <label class="custom-control-label" for="customCheckM6">Lawn</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM7">
                          <label class="custom-control-label" for="customCheckM7">Microwave</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM8">
                          <label class="custom-control-label" for="customCheckM8">Outdoor Shower</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM9">
                          <label class="custom-control-label" for="customCheckM9">Refrigerator</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM10">
                          <label class="custom-control-label" for="customCheckM10">Stunning views</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-4">
                    <div class="adv_src_pmodal mb20">
                      <div class="ui_kit_checkbox">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM11">
                          <label class="custom-control-label" for="customCheckM11">Waterfront</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM12">
                          <label class="custom-control-label" for="customCheckM12">Parking</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM13">
                          <label class="custom-control-label" for="customCheckM13">Doorman</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM14">
                          <label class="custom-control-label" for="customCheckM14">Central Heating</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckM15">
                          <label class="custom-control-label" for="customCheckM15">Cleaning Service</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="adv_src_pmodal">
                      <button class="btn btn-block btn-thm"><span class="fa fa-search mr15"></span>Show 300+ PROPERTY</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Home Design -->
  <section class="home-one home1-overlay bg-home1">
    <div class="container">
      <div class="row posr justify-content-center">
        <div class="col-lg-8">
          <div class="home_content home2">
            <div class="home-text text-center">
              <p class="fz16 color-white ttu">It's great to be home!</p>
              <h2 class="fz60">Discover a place you'll <br class="dn-lg"> love to live</h2>
            </div>
            <div class="row justify-content-center">
              <div class="col-xl-12">
                <div class="home_tabs home4">
                  <ul class="nav justify-content-center nav-tabs" id="myTab2" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="buy-tab" data-toggle="tab" href="#buy" role="tab" aria-controls="buy" aria-selected="true">Property</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="rent-tab" data-toggle="tab" href="#rent" role="tab" aria-controls="rent" aria-selected="false">Lodges and Cottages</a>
                    </li>
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="sold-tab" data-toggle="tab" href="#sold" role="tab" aria-controls="sold" aria-selected="false">BNB's</a>
                    </li>
                  </ul>
                  <div class="tab-content" id="myTabContent2">
                    <div class="tab-pane fade" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                      <div class="home_adv_srch_opt home4">
                        <div class="wrapper">
                          <div class="home_adv_srch_form home2">
                            <form class="bgc-white">
                              <div class="form-row">
                                <div class="col-auto home_form_input">
                                  <div class="input-group">
                                    <div class="home2_befor_icon"><span class="flaticon-houses"></span></div>
                                    <input type="text" class="form-control form_control" placeholder="Enter an address, neighborhood, city, or ZIP code">
                                  </div>
                                </div>
                                <div class="col-auto home_form_input2">
                                  <button type="submit" class="btn search-btn"><span class="fa fa-search"></span></button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade show active" id="rent" role="tabpanel" aria-labelledby="rent-tab">
                      <div class="home_adv_srch_opt home4">
                        <div class="wrapper">
                          <div class="home_adv_srch_form home2">
                            <form class="bgc-white">
                              <div class="form-row">
                                <div class="col-auto home_form_input">
                                  <div class="input-group">
                                    <div class="home2_befor_icon"><span class="flaticon-houses"></span></div>
                                    <input type="text" class="form-control form_control" placeholder="Enter an address, neighborhood, city, or ZIP code">
                                  </div>
                                </div>
                                <div class="col-auto home_form_input2">
                                  <button type="submit" class="btn search-btn"><span class="fa fa-search"></span></button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="sold" role="tabpanel" aria-labelledby="sold-tab">
                      <div class="home_adv_srch_opt home2">
                        <div class="wrapper">
                          <div class="home_adv_srch_form home2">
                            <form class="bgc-white">
                              <div class="form-row">
                                <div class="col-auto home_form_input">
                                  <div class="input-group">
                                    <div class="home2_befor_icon"><span class="flaticon-houses"></span></div>
                                    <input type="text" class="form-control form_control" placeholder="Enter an address, neighborhood, city, or ZIP code">
                                  </div>
                                </div>
                                <div class="col-auto home_form_input2">
                                  <button type="submit" class="btn search-btn"><span class="fa fa-search"></span></button>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    <!-- Property Cities  -->
  <section class="bgc-alice-blue">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="main-title text-center">
            <h2>Discover Our Listings</h2>
            <p>Discover some of the most popular listings in ''users location'' based on user reviews and ratings.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="popular_listing_sliders row">
            <!-- Nav tabs -->
            <div class="nav nav-tabs mb50 col-lg-12 justify-content-center" role="tablist">
              <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Property</a>

              <a class="nav-link" id="nav-shopping-tab" data-toggle="tab" hx-trigger="click" hx-get="{% url 'properties:lodges-htmx' %}" hx-target="#htmx-lodges" hx-swap="outerHTML" href="#nav-shopping" role="tab" aria-controls="nav-shopping" aria-selected="false">Lodges and Cottages</a>

              <a class="nav-link" id="nav-hotels-tab" data-toggle="tab" href="#nav-hotels" hx-trigger="click" hx-get="{% url 'properties:bnb-htmx' %}" hx-target="#htmx-bnb" hx-swap="outerHTML" role="tab" aria-controls="nav-hotels" aria-selected="false">Bnb's</a>

              <!-- <a class="nav-link" id="nav-destination-tab" data-toggle="tab" href="#nav-destination" role="tab" aria-controls="nav-destination" aria-selected="false">Houses</a> -->
            </div>
            <!-- Tab panes -->
            <div class="tab-content col-lg-12 " id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab ">
                 <div class="row"> 
                  
                  {% include 'properties/partials/properties-partial.html' %}

                </div>
              </div>

              <div class="tab-pane fade" id="nav-shopping" role="tabpanel" aria-labelledby="nav-shopping-tab">
                <div  class="row">
                  <div id="htmx-lodges" class="div">

                  </div>
                </div>
                
              </div>


              <div class="tab-pane fade" id="nav-hotels" role="tabpanel" aria-labelledby="nav-hotels-tab">
                <div class="row"> 
                  <div id="htmx-bnb" class="div">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% comment %}
  <!-- Feature Properties -->
  <section id="feature-property" class="feature-property">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="main-title text-center">
            <h2>Discover Our Featured Listings</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="popular_listing_slider1">
            {% for item in property %}
            <div class="item">
              <div class="feat_property">
                <div class="thumb"> 
                  {% for image in item.property_images.all %}
                  {% if image.is_feature %}
                  <img class="img-whp" src="{{image.image.url}}" alt="fl1.jpg">
                  {% endif %}
                  {% endfor %}
                  <div class="thmb_cntnt">
                    {% if item.is_featured %}
                    <ul class="tag mb0">
                      <li class="list-inline-item"><a>FEATURED</a></li>
                    </ul>
                    {% endif %}

                    <ul class="tag2 mb0">
                      <li class="list-inline-item"><a >{{item.property_type}}</a></li>
                    </ul>
                  </div>
                  <div class="thmb_cntnt2">
                    <ul class="listing_gallery mb0">
                      <li class="list-inline-item"><a class="text-white" ><span class="flaticon-photo-camera mr5"></span> {{item.property_images.count}}</a></li>
                      {% if item.property_videos %}
                      <li class="list-inline-item"><a class="text-white" ><span class="flaticon-play-button mr5"></span> {{item.property_videos.count}}</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
                <div class="details">
                  <div class="tc_content">
                    <h4><a href="{% url 'properties:property-single' item.id %}">{{item.name}}</a></h4>
                    <p>{{item.district}}, {{item.location_area}}</p>
                    <ul class="prop_details mb0">
                      <li class="list-inline-item"><a href="#"><span class="flaticon-bed pr5"></span> <br>{{item.no_baths}} Beds</a></li>
                      <li class="list-inline-item"><a href="#"><span class="flaticon-bath pr5"></span> <br>{{item.no_rooms}} Bath</a></li>
                      <li class="list-inline-item"><a href="#"><span class="flaticon-car pr5"></span> <br>{{item.no_garages}} Garage</a></li>
                      <li class="list-inline-item"><a href="#"><span class="flaticon-ruler pr5"></span> <br>{{item.compound_area}} Sq Ft</a></li>
                    </ul>
                  </div>
                  <div class="fp_footer">
                    <ul class="fp_meta float-left mb0">
                      <li class="list-inline-item"><a>
                        {% if item.prev_prev_price %}
                        <small><del class="body-color">Mk {{item.prev_price}}/mo</del></small><br>
                        {% endif %}
                        <span class="heading-color fw600">Mk {{item.price}}/mo</span></a></li>
                    </ul>
                    <ul class="fp_meta float-right mb0">
                      <li class="list-inline-item"><a class="icon" href="{% url 'properties:property-single' item.id %}"><span class="flaticon-resize"></span></a></li>
                      <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-add"></span></a></li>
                      <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-heart-shape-outline"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Property Cities -->
  <section class="property-city pb70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="main-title text-center">
            <h2>Explore Our Properties</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit donec sollicitudin</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="feature_place_home2_slider">
            <div class="item">
              <div class="properti_city">
                <div class="thumb"><img class="img-fluid w100" src="{% static 'images/web_img/Homes.jpg' %}" alt="ep1.jpg"></div>
                <div class="overlay">
                  <div class="details">
                    <div class="icon"><span class="flaticon-home"></span></div>
                    <h4><a  class="text-white" href="#">Homes</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="properti_city">
                <div class="thumb"><img class="img-fluid w100" src="{% static 'images/web_img/Commercial.jpg' %}" alt="ep2.jpg"></div>
                <div class="overlay">
                  <div class="details">
                    <div class="icon"><span class="flaticon-apartment"></span></div>
                    <h4><a href="#" class="text-white">Commercial</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="properti_city">
                <div class="thumb"><img class="img-fluid w100" src="{% static 'images/web_img/Lodges.jpg' %}" alt="ep3.jpg"></div>
                <div class="overlay">
                  <div class="details">
                    <div class="icon"><span class="flaticon-business-and-trade"></span></div>
                    <h4><a  class="text-white" href="#">Lodges</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="properti_city">
                <div class="thumb"><img class="img-fluid w100" src="{% static 'images/web_img/Cottages.jpg' %}" alt="ep4.jpg"></div>
                <div class="overlay">
                  <div class="details">
                    <div class="icon"><span class="flaticon-villa"></span></div>
                    <h4><a  class="text-white" href="#">Cottages</a></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="properti_city">
                <div class="thumb"><img class="img-fluid w100" src="{% static 'images/web_img/Bnbs.jpg' %}" alt="ep.jpg"></div>
                <div class="overlay">
                  <div class="details">
                    <div class="icon"><span class="flaticon-living-room"></span></div>
                    <h4><a  class="text-white" href="#">Bnb's</a></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endcomment %}
  
  <!-- Our Divider -->
  <section class="divider home-style1 parallax" data-stellar-background-ratio="0.2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="business_exposer text-center">
            <p class="fz16 text-uppercase text-white fw500">TRENDS</p>
            <h2 class="title text-white mb20">Vermont Farmhouse With Antique Jail Is the Week's Most Popular Home</h2>
            <a class="btn exposer_btn" href="#">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </section>
 
{% comment %}
  <!-- Recent Property For Rent -->
  <section class="recent-property pb70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="main-title text-center">
            <h2>Lodges for your next trip</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="recent_property_slider_home1">
            {% for item in lodges %}
            <div class="item">
              <div class="feat_property recent">
                <div class="thumb"> <img class="img-whp" src="{{item.cover_img.url}}" alt="rp1.jpg">

                  <div class="thmb_cntnt2">
                    <ul class="listing_gallery mb0">
                      <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-photo-camera mr5"></span> {{item.pictures.count}}</a></li>
                      <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-play-button mr5"></span> 3</a></li>
                    </ul>
                  </div>
                </div>
                <div class="details">
                  <div class="tc_content">
                    
                    <h4><a href="{% url 'lodges:lodge-detail' item.id %}">{{item.name}}</a></h4>
                    <p>{{item.state}}, {{item.city}}</p>
                    <ul class="prop_details mb0">
                      <li class="list-inline-item"><a href="#"><span class="flaticon-bed pr5"></span> <br>{{item.rooms.count}} Room Types</a></li>
                      
                    </ul>
                  </div>
                  <div class="fp_footer">
                    <ul class="fp_meta float-left mb0">
                      {% for room in item.rooms.all %}
                      <li class="list-inline-item"><a href="#">
                        <span class="heading-color fw600">{{room.type}}: Mk {{room.price_per_night}}</span></a>
                      </li>
                      {% endfor %}
                    </ul>
                    <ul class="fp_meta float-right mb0">
                      <li class="list-inline-item"><a class="icon" href="{% url 'lodges:lodge-detail' item.id %}"><span class="flaticon-resize"></span></a></li>
                      <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-add"></span></a></li>
                      <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-heart-shape-outline"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
  </section>
{% endcomment %}

  <!-- Property Cities -->
  <section id="property-city" class="property-city pb70 bb1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="main-title text-center">
            <h2>Explore Cities</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
          <div class="explore_city custom_class_from_520 fl-520">
            <div class="thumb"><img class="img-fluid" src="{% static 'images/web_img/mangochi.jpg' %}" alt="1.jpg"></div>
            <div class="details">
              <h4 class="title"><a href="#"><p>Mangochi</p></a></h4>
              <p>15 Properties</p>
            </div>
          </div>
          <div class="explore_city custom_class_from_520 fr-520">
            <div class="thumb"><img class="img-fluid" src="{% static 'images/web_img/mzimba.jpg' %}" alt="2.jpg"></div>
            <div class="details">
              <h4 class="title"><a href="#"><p>Mzimba</p></a></h4>
              <p>23 Properties</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
          <div class="explore_city custom_class_from_520 fl-520">
            <div class="thumb"><img class="img-fluid" src="{% static 'images/web_img/salima.jpg' %}" alt="3.jpg"></div>
            <div class="details">
              <h4 class="title"><a href="#"><p>Salima</p></a></h4>
              <p>7543 Properties</p>
            </div>
          </div>
          <div class="explore_city custom_class_from_520 fr-520">
            <div class="thumb"><img class="img-fluid" src="{% static 'images/web_img/zomba.jpg' %}" alt="4.jpg"></div>
            <div class="details">
              <h4 class="title"><a href="#"><p>Zomba</p></a></h4>
              <p>821 Properties</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-6">
          <div class="explore_city style2">
            <div class="thumb"><img class="img-fluid" src="{% static 'images/web_img/lilongwe.jpg' %}" alt="5.jpg"></div>
            <div class="details">
              <h4 class="title"><a href="#"><p>Lilongwe</p></a></h4>
              <p>411 Properties</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 col-xl-2">
          <div class="explore_city custom_class_from_767 fl-767">
            <div class="thumb"><img class="img-fluid" src="{% static 'images/web_img/blantyre.jpg' %}" alt="6.jpg"></div>
            <div class="details">
              <h4 class="title"><a href="#"><p>Blantyre</p></a></h4>
              <p>42 Properties</p>
            </div>
          </div>
          <div class="explore_city custom_class_from_767 fr-767">
            <div class="thumb"><img class="img-fluid" src="{% static 'images/web_img/kasungu.jpg' %}" alt="7.jpg"></div>
            <div class="details">
              <h4 class="title"><a href="#"><p>Kasungu</p></a></h4>
              <p>392 Properties</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Our Blog -->
  <section class="our-blog bgc-alice-blue pb70">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="main-title text-center">
            <h2>From Our Blog</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for item in blogs %}
        <div class="col-md-6 col-xl-3">
          <div class="for_blog feat_property">
            <div class="thumb"> <img class="img-whp" src="{{item.cover_img.url}}" alt="1.jpg">
              <!-- <div class="tag bgc-thm"><a class="text-white" href="#">FAMILY HOUSE</a></div> -->
            </div>
            <div class="details">
              <div class="tc_content">
                <div class="bp_meta">
                  <ul>
                    <li class="list-inline-item"><a href="{% url 'properties:blog-detail' item.slug %}"><span class="flaticon-user fz15 mr10"></span> {{item.author}}</a></li>
                    <li class="list-inline-item"><a href="{% url 'properties:blog-detail' item.slug %}"><span class="flaticon-calendar fz15 mr10"></span> {{item.created}}</a></li>
                  </ul>
                </div>
                <h4><a href="{% url 'properties:blog-detail' item.slug %}"> {{item.title}}</a></h4>
                <p>{{item.content|slice:':100'|safe}}... </p>
                <a class="text-thm tdu read_more_btn" href="{% url 'properties:blog-detail' item.slug %}">READ MORE</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
  {% if not request.user.is_authenticated %}
  <!-- Start Partners -->
  <section class="start-partners home1 bgc-thm pt70 pb70">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="start_partner text-center">
            <h2>Become a Real Estate Agent</h2>
            <p>We only work with the best companies around the globe.</p>
          </div>
          <div class="parner_reg_btn text-center mt25"> <a class="btn" href="{% url 'accounts:login' %}">REGISTER NOW</a> </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% include 'properties/footer.html' %}
  {% endblock content %}
  