{% extends 'properties/index.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}
 
  <!-- Inner Page Breadcrumb -->
  <section class="inner_page_breadcrumb style4 pb0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="breadcrumb_content style2">
            <h2 class="breadcrumb_title">Agency list</h2>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Agency list</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </section>

	<!-- Listing Grid View -->
	<section class="our-listing pb30-991">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-xl-9">
					<div class="row">
            <div class="col-md-6 col-lg-6">
              <div class="feat_property list agent">
                <div class="thumb">
                  <img class="img-whp" src="images/agency/1.jpg" alt="1.jpg">
                </div>
                <div class="details">
                  <div class="tc_content">
                    <h4><a href="page-agent-single.html">Robert Fox</a></h4>
                    <p>Senior agent, Houzing Home</p>
                    <ul class="prop_details mb0">
                      <li class="text-left"><a href="#"><span>Office</span> &nbsp;91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Mobile</span> 91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Email</span> &nbsp;&nbsp; tomwilson@houzing.com</a></li>
                    </ul>
                  </div>
                  <div class="fp_footer">
                    <a class="fp_pdate float-left text-thm" href="#">View Listings</a>
                    <ul class="social_icons float-right mb0">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="feat_property list agent">
                <div class="thumb">
                  <img class="img-whp" src="images/agency/2.jpg" alt="2.jpg">
                </div>
                <div class="details">
                  <div class="tc_content">
                    <h4>Esther Howard</h4>
                    <p>Senior agent, Houzing Home</p>
                    <ul class="prop_details mb0">
                      <li class="text-left"><a href="#"><span>Office</span> &nbsp;91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Mobile</span> 91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Email</span> &nbsp;&nbsp; tomwilson@houzing.com</a></li>
                    </ul>
                  </div>
                  <div class="fp_footer">
                    <a class="fp_pdate float-left text-thm" href="#">View Listings</a>
                    <ul class="social_icons float-right mb0">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="feat_property list agent">
                <div class="thumb">
                  <img class="img-whp" src="images/agency/3.jpg" alt="3.jpg">
                </div>
                <div class="details">
                  <div class="tc_content">
                    <h4>Brooklyn Simmons</h4>
                    <p>Senior agent, Houzing Home</p>
                    <ul class="prop_details mb0">
                      <li class="text-left"><a href="#"><span>Office</span> &nbsp;91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Mobile</span> 91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Email</span> &nbsp;&nbsp; tomwilson@houzing.com</a></li>
                    </ul>
                  </div>
                  <div class="fp_footer">
                    <a class="fp_pdate float-left text-thm" href="#">View Listings</a>
                    <ul class="social_icons float-right mb0">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="feat_property list agent">
                <div class="thumb">
                  <img class="img-whp" src="images/agency/4.jpg" alt="4.jpg">
                </div>
                <div class="details">
                  <div class="tc_content">
                    <h4>Bessie Cooper</h4>
                    <p>Senior agent, Houzing Home</p>
                    <ul class="prop_details mb0">
                      <li class="text-left"><a href="#"><span>Office</span> &nbsp;91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Mobile</span> 91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Email</span> &nbsp;&nbsp; tomwilson@houzing.com</a></li>
                    </ul>
                  </div>
                  <div class="fp_footer">
                    <a class="fp_pdate float-left text-thm" href="#">View Listings</a>
                    <ul class="social_icons float-right mb0">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="feat_property list agent">
                <div class="thumb">
                  <img class="img-whp" src="images/agency/5.jpg" alt="5.jpg">
                </div>
                <div class="details">
                  <div class="tc_content">
                    <h4>Devon Lane</h4>
                    <p>Senior agent, Houzing Home</p>
                    <ul class="prop_details mb0">
                      <li class="text-left"><a href="#"><span>Office</span> &nbsp;91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Mobile</span> 91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Email</span> &nbsp;&nbsp; tomwilson@houzing.com</a></li>
                    </ul>
                  </div>
                  <div class="fp_footer">
                    <a class="fp_pdate float-left text-thm" href="#">View Listings</a>
                    <ul class="social_icons float-right mb0">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="feat_property list agent">
                <div class="thumb">
                  <img class="img-whp" src="images/agency/6.jpg" alt="6.jpg">
                </div>
                <div class="details">
                  <div class="tc_content">
                    <h4>Darrell Steward</h4>
                    <p>Senior agent, Houzing Home</p>
                    <ul class="prop_details mb0">
                      <li class="text-left"><a href="#"><span>Office</span> &nbsp;91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Mobile</span> 91 456 9874</a></li>
                      <li class="text-left"><a href="#"><span>Email</span> &nbsp;&nbsp; tomwilson@houzing.com</a></li>
                    </ul>
                  </div>
                  <div class="fp_footer">
                    <a class="fp_pdate float-left text-thm" href="#">View Listings</a>
                    <ul class="social_icons float-right mb0">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
					</div>
          <div class="row">
            <div class="col-lg-12">
              <div class="mbp_pagination mt10">
                <ul class="page_navigation">
                  <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="fa fa-arrow-left"></span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">3 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">15</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#"><span class="fa fa-arrow-right"></span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
				</div>
				<div class="col-lg-4 col-xl-3">
					<div class="sidebar">
						<div class="sidebar_agent_search_widget mb30">
							<h4 class="title mb15">Find Agency</h4>
              <div class="agent_search_form">
                <form action="#">
                  <div class="form-group input-group mb30">
                    <input type="text" class="form-control form_control" placeholder="Enter Agency Name">
                  </div>
                  <div class="form-group input-group">
                    <select class="selectpicker form-control" data-width="100%">
                      <option>All Categories</option>
                      <option data-tokens="Apartment">Apartment</option>
                      <option data-tokens="Condo">Condo</option>
                      <option data-tokens="Studio">Studio</option>
                      <option data-tokens="Villa">Villa</option>
                    </select>
                  </div>
                  <div class="form-group input-group">
                    <label for="city">All Cities</label>
                    <select class="selectpicker form-control" data-width="100%">
                      <option data-tokens="NewYork">New York</option>
                      <option data-tokens="London">London</option>
                      <option data-tokens="Paris">Paris</option>
                      <option data-tokens="Istanbul">Istanbul</option>
                    </select>
                  </div>
                  <button type="submit" class="btn btn-block btn-thm agnt_btn mb0"><span class="fa fa-search mr10"></span>Search</button>
                </form>
              </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Footer -->
  <section class="footer_one home1">
    <div class="container pb90">
      <div class="row">
        <div class="col-sm-5 col-md-5 col-lg-3 col-xl-2">
          <div class="footer_contact_widget">
            <h4>Contact Us</h4>
            <ul class="list-unstyled">
              <li class="text-white df"><span class="flaticon-map mr15"></span><a href="#">329 Queensberry Street, North Melbourne VIC 3051, Australia.</a></li>
              <li class="text-white"><span class="flaticon-phone mr15"></span><a href="#">+123 456 7890</a></li>
              <li class="text-white"><span class="flaticon-mail-inbox-app mr15"></span><a href="#">support@houzing.com</a></li>
            </ul>
          </div>
          <div class="footer_social_widget mt20">
            <ul class="mb0">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2">
          <div class="footer_qlink_widget">
            <h4>Discover</h4>
            <ul class="list-unstyled">
              <li><a href="#">Chicago</a></li>
              <li><a href="#">Los Angeles</a></li>
              <li><a href="#">Miami</a></li>
              <li><a href="#">New York</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-2 col-xl-2">
          <div class="footer_qlink_widget pl0">
            <h4>Lists by Category</h4>
            <ul class="list-unstyled">
              <li><a href="#">Apartments</a></li>
              <li><a href="#">Condos</a></li>
              <li><a href="#">Houses</a></li>
              <li><a href="#">Offices</a></li>
              <li><a href="#">Retail</a></li>
              <li><a href="#">Villas</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-5 col-md-2 col-lg-2 col-xl-2">
          <div class="footer_qlink_widget pl0">
            <h4>Quick Links</h4>
            <ul class="list-unstyled">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">User’s Guide</a></li>
              <li><a href="#">Support Center</a></li>
              <li><a href="#">Press Info</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-7 col-md-6 col-lg-3 col-xl-4">
          <div class="footer_social_widget">
            <h4>Subscribe</h4>
            <p class="text-white mb30">We don’t send spam so don’t worry.</p>
            <form class="footer_mailchimp_form">
              <div class="form-row align-items-center">
                <div class="col-auto">
                  <input type="email" class="form-control" id="inlineFormInput" placeholder="Enter your email">
                  <button type="submit" class="flaticon-email"></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="container pt10 pb30">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="copyright-widget mt10 mb15-767">
            <p>Copyright © 2021 CreativeLayers. All Right Reserved.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="footer_logo_widget text-center mb15-767">
            <div class="wrapper">
              <div class="logo text-center"> <img src="images/footer-logo.svg" alt="footer-logo.svg"> <span class="logo_title text-white pl15">Houzing</span> </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="footer_menu_widget text-right tac-md mt15">
            <ul>
              <li class="list-inline-item"><a href="#">Home</a></li>
              <li class="list-inline-item"><a href="#">Site Map</a></li>
              <li class="list-inline-item"><a href="#">Privacy policy</a></li>
              <li class="list-inline-item"><a href="#">Cookie Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
</div>
  	{% include 'properties/footer.html' %}
{% endblock %}