{% extends 'properties/index.html' %}
{% load static %}
{% load chartit %}
{% block title %}Property Listing{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}

  <!-- Listing Single Property -->
  <section class="listing-title-area pb0">
    <div class="container">
      <div class="row mb30">
        <div class="col-lg-7 col-xl-7">
          <div class="single_property_title mt30-767">
            <div class="breadcrumb_content style3">
              <ol class="breadcrumb mb0">
                <li class="breadcrumb-item"><a href="{% url 'properties:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'properties:all-property-list' %}">Property</a></li>
                <li class="breadcrumb-item active style2" aria-current="page">{{property.name}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Property Listing Single V4 Home Area -->
  <div class="single_page_listing_tab">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs" id="myTab2" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="slider-tab" data-toggle="tab" href="#slider_tabs" role="tab" aria-controls="slider_tabs" aria-selected="true"><span class="flaticon-picture color-white"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="map-tab" data-toggle="tab" href="#map_tabs" role="tab" aria-controls="map_tabs" aria-selected="false"><span class="flaticon-map color-white"></span></a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" id="street-view-tab" data-toggle="tab" href="#street_view" role="tab" aria-controls="street_view" aria-selected="false"><span class="flaticon-street-view color-white"></span></a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="tab-content" id="myTabContent2">
            <div class="tab-pane fade show active" id="slider_tabs" role="tabpanel" aria-labelledby="slider-tab">
                <!-- 10th Home Slider -->
              <div class="home10-mainslider">
                <div class="container p0">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="property_sp3_slider psp_v4">
                        
                        {% for image in property.property_images.all %}
                        <div class="item">
                          <div class="sps_content">
                            <div class="thumb">
                              <div class="single_product">
                                <div class="single_item">
                                  <div class="thumb"><img class="img-fluid bdrs3" src="{{image.image.url}}" alt="16.jpg"></div>
                                </div>
                                <a class="product_popup popup-img" href="{{image.image.url}}"><span class="flaticon-zoom-in"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="map_tabs" role="tabpanel" aria-labelledby="map-tab">
              <div class="h600" id="map-canvas"></div>
            </div>
            <div class="tab-pane fade" id="street_view" role="tabpanel" aria-labelledby="street-view-tab">
              <iframe class="h600 w100" src="https://www.google.com/maps/embed?pb=!4v1553797194458!6m8!1m7!1sR4K_5Z2wRHTk9el8KLTh9Q!2m2!1d36.82551718071267!2d-76.34864590837246!3f305.15097!4f0!5f0.7820865974627469" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Agent Single Grid View -->
  <section class="our-agent-single pt0 pb70">
    <div class="container">
      <div class="row mt30 mb30">
        <div class="col-lg-8 col-xl-8">
          <div class="single_property_title mt30-767">
            <div class="media">
              <div class="media-body">
                <h2 class="mt-0">{{property.name}}</h2>
                <div class="df db-400 mb20-400">
                  <p class="mr10">{{property.location}}</p>
                  <a href="#" class="theme_badge mr10">FEATURED</a>
                  <a href="#" class="theme_badge2 mr10">Hot Offer</a>
                  <a href="#" class="theme_badge3">FOR SALE</a>
                </div>
                <ul class="prop_details mb0">
                  <li class="list-inline-item mr20"><a class="mr20" href="#"><span class="flaticon-bed pr5 vam"></span> {{property.no_rooms}} Beds</a></li>
                  <li class="list-inline-item mr20"><a class="mr20" href="#"><span class="flaticon-bath pr5 vam"></span> {{property.no_baths}} Bath</a></li>
                  <li class="list-inline-item mr20"><a class="mr20" href="#"><span class="flaticon-car pr5 vam"></span> {{property.no_garages}} Garage</a></li>
                  <li class="list-inline-item mr20"><a class="mr20" href="#"><span class="flaticon-ruler pr5 vam"></span> {{property.compound_area}} Sq Ft</a></li>
                  <li class="list-inline-item mr20"><a href="#"><span class="flaticon-calendar pr5 vam"></span> Year Built: {{property.year_built}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4">
          <div class="single_property_social_share_content text-right tal-md">
            <div class="spss style2">
              <ul class="mb0">
                <li class="list-inline-item icon"><a href="#"><span class="flaticon-share"></span></a></li>
                <li class="list-inline-item"><a href="#">Share</a></li>
                <li class="list-inline-item icon"><a href="#"><span class="flaticon-heart-shape-outline"></span></a></li>
                <li class="list-inline-item"><a href="#">Save</a></li>
              </ul>
            </div>
            <div class="price mt20 mb10"><h3><small class="mr10">
              {% if property.prev_price %}
              <del>MWK {{property.prev_price}}/mo</del>
              {% endif %}
            </small> MWK {{property.price}}/mo</h3></div>
            <p class="mb0">Est. Mortgage</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-xl-9">
          <div class="row">
            <div class="col-lg-12">
              <div class="listing_single_description mt50 mb60">
                <h4 class="mb30">Description</h4>
                <p class="first-Description mb25">{{property.desc|safe}}</p>
                
                
              </div>
            </div>
            <div class="col-lg-12">
              <div class="property_attachment_area pb40 bb1">
                <h4 class="mb15">Documents</h4>
                <ul class="document_list mb0">
                  <li class="list-inline-item"><span class="icon flaticon-file"></span>&nbsp;&nbsp;test_property.pdf <a class="tdu text-thm" href="#">Download</a></li>
                  <li class="list-inline-item"><span class="icon flaticon-file"></span>&nbsp;&nbsp;test_property.pdf <a class="tdu text-thm" href="#">Download</a></li>
                  <li class="list-inline-item"><span class="icon flaticon-file"></span>&nbsp;&nbsp;test_property.pdf <a class="tdu text-thm" href="#">Download</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="location_details pb40 mt50 bb1">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="mb15">Location</h4>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item mb0">
                      <li><p>Country: </p></li>
                      <li><p>State/County: </p></li>
                    </ul>
                    <ul class="list-inline-item mb0">
                      <li><p><span>{{property.country}}</span></p></li>
                      <li><p><span>{{property.region}}</span></p></li>
                    </ul>
                  </div>
                  <!-- <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item mb0">
                      <li><p>City:</p></li>
                      <li><p>Zip:</p></li>
                    </ul>
                    <ul class="list-inline-item mb0">
                      <li><p><span></span></p></li>
                      <li><p><span>365448</span></p></li>
                    </ul>
                  </div> -->
                  <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item mb0">
                      <!-- <li><p>Area:</p></li> -->
                      <li><p>Address/Area:</p></li>
                    </ul>
                    <ul class="list-inline-item mb0">
                      <!-- <li><p><span>Greenville</span></p></li> -->
                      <li><p><span>{{property.location_area}}</span></p></li>
                    </ul>
                  </div>
                  <div class="col-lg-12">
                    <div class="property_sp_map mt30">
                      <div class="h400 bdrs3" id="map-canvas2"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="mb15">Nearby Places</h4>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item mb0">
                      <li><p>Name: </p></li>
                      <li><p>Description: </p></li>
                    </ul>
                    <ul class="list-inline-item mb0">
                      <li><p><span>{{nearby_place.name_of_place}}</span></p></li>
                      <li><p><span>{{nearby_place.desc}}</span></p></li>
                    </ul>
                  </div>
                  <!-- <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item mb0">
                      <li><p>City:</p></li>
                      <li><p>Zip:</p></li>
                    </ul>
                    <ul class="list-inline-item mb0">
                      <li><p><span></span></p></li>
                      <li><p><span>365448</span></p></li>
                    </ul>
                  </div> -->
                  <!-- <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item mb0">
                      <li><p>Area:</p></li>
                      <li><p>Address/Area:</p></li>
                    </ul>
                    <ul class="list-inline-item mb0">
                      <li><p><span>Greenville</span></p></li>
                      <li><p><span></span></p></li>
                    </ul>
                  </div> -->
                  <div class="col-lg-12">
                    <div class="property_sp_map mt30">
                      <div class="h400 bdrs3" id="map-canvas2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="additional_details pb40 mt50 bb1">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="mb15">Property Details</h4>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item">
                      <!-- <li><p>Property ID:</p></li> -->
                      <li><p>Price:</p></li>
                      <li><p>Property Size:</p></li>
                      <li><p>Year Built:</p></li>
                    </ul>
                    <ul class="list-inline-item">
                      <!-- <li><p><span>HZ27</span></p></li> -->
                      <li><p><span>MWK {{property.price}}</span></p></li>
                      <li><p><span>{{property.compound_area}} Sq Ft</span></p></li>
                      <li><p><span>{{property.year_built}}</span></p></li>
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item">
                      <li><p>Bedrooms :</p></li>
                      <!-- <li><p>Bathrooms :</p></li> -->
                      <li><p>Garage :</p></li>
                      <!-- <li><p>Garage Size :</p></li> -->
                    </ul>
                    <ul class="list-inline-item">
                      <li><p><span>{{property.no_rooms}}</span></p></li>
                      <!-- <li><p><span>{{property.no_garages}}</span></p></li> -->
                      <li><p><span>{{property.no_garages}}</span></p></li>
                      <!-- <li><p><span>200 SqFt</span></p></li> -->
                    </ul>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item">
                      <li><p>Property Type:</p></li>
                      <li><p>Property Status:</p></li>
                    </ul>
                    <ul class="list-inline-item">
                      <li><p><span>For {{property.property_type}}</span></p></li>
                      <li><p><span>{{property.property_status}}</span></p></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="additional_details pb40 mt50 bb1">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 class="mb30">Features</h4>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-air-conditioner"></span></div>
                      <div class="details">
                        <div class="title">Air Conditioning</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-grass"></span></div>
                      <div class="details">
                        <div class="title">Lawn</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-refrigerator"></span></div>
                      <div class="details">
                        <div class="title">Refrigerator</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-liquid-soap"></span></div>
                      <div class="details">
                        <div class="title">Washer</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-barbecue"></span></div>
                      <div class="details">
                        <div class="title">Barbeque</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-laundry"></span></div>
                      <div class="details">
                        <div class="title">Laundry</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-sauna"></span></div>
                      <div class="details">
                        <div class="title">Sauna</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-wifi"></span></div>
                      <div class="details">
                        <div class="title">WiFi</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-dryer"></span></div>
                      <div class="details">
                        <div class="title">Dryer</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-microwave"></span></div>
                      <div class="details">
                        <div class="title">Microwave</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-swimmer"></span></div>
                      <div class="details">
                        <div class="title">Swimming Pool</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-blinds"></span></div>
                      <div class="details">
                        <div class="title">Window Coverings</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-dumbbell"></span></div>
                      <div class="details">
                        <div class="title">Gym</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-outdoor-shower"></span></div>
                      <div class="details">
                        <div class="title">Outdoor Shower</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-coaxial"></span></div>
                      <div class="details">
                        <div class="title">TV Cable</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-chair"></span></div>
                      <div class="details">
                        <div class="title">Dining room</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-12">
              <div class="property_sp_floor_plan pb40 mt50 bb1">
                <h4 class="mb30">Floor plans</h4>
                <div class="faq_according style2">
                  <div class="accordion" id="accordionExample">
                    <div class="card floor_plan">
                      <div class="card-header" id="headingOne">
                        <div class="mb-0">
                          <div class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <ul class="mb0">
                              <li class="list-inline-item">First Floor</li>
                              <li class="list-inline-item"><p class="mb0">Size:</p> <span>1267 Sqft</span></li>
                              <li class="list-inline-item"><p class="mb0">Rooms:</p> <span>540 Sq Ft</span></li>
                              <li class="list-inline-item"><p class="mb0">Baths:</p> <span>431 Sq Ft</span></li>
                              <li class="list-inline-item"><p class="mb0">Price:</p> <span>$3921</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                        <div class="card-body">
                          <img class="img-fluid" src="images/resource/floor_plan.png" alt="floor_plan.png">
                          <p class="mb20">Occupying over 8,000 square feet, perched over 1,100 feet in the air with absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the most sought-after design houses in London and represents an utterly unique opportunity to own a globally significant property.</p>
                          <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2 powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest corner of the floor.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card floor_plan">
                      <div class="card-header active" id="headingTwo">
                        <div class="mb-0">
                          <div class="btn btn-link collapsed" role="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <ul class="mb0">
                              <li class="list-inline-item">Second Floor</li>
                              <li class="list-inline-item"><p class="mb0">Size:</p> <span>1267 Sqft</span></li>
                              <li class="list-inline-item"><p class="mb0">Rooms:</p> <span>540 Sq Ft</span></li>
                              <li class="list-inline-item"><p class="mb0">Baths:</p> <span>431 Sq Ft</span></li>
                              <li class="list-inline-item"><p class="mb0">Price:</p> <span>$3921</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          <img class="img-fluid" src="images/resource/floor_plan.png" alt="floor_plan.png">
                          <p class="mb20">Occupying over 8,000 square feet, perched over 1,100 feet in the air with absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the most sought-after design houses in London and represents an utterly unique opportunity to own a globally significant property.</p>
                          <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2 powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest corner of the floor.</p>
                       </div>
                      </div>
                    </div>
                    <div class="card floor_plan">
                      <div class="card-header" id="headingThree">
                        <div class="mb-0">
                          <div class="btn btn-link" role="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <ul class="mb0">
                              <li class="list-inline-item">First Floor</li>
                              <li class="list-inline-item"><p class="mb0">Size:</p> <span>1267 Sqft</span></li>
                              <li class="list-inline-item"><p class="mb0">Rooms:</p> <span>540 Sq Ft</span></li>
                              <li class="list-inline-item"><p class="mb0">Baths:</p> <span>431 Sq Ft</span></li>
                              <li class="list-inline-item"><p class="mb0">Price:</p> <span>$3921</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                        <div class="card-body">
                          <img class="img-fluid" src="images/resource/floor_plan.png" alt="floor_plan.png">
                          <p class="mb20">Occupying over 8,000 square feet, perched over 1,100 feet in the air with absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the most sought-after design houses in London and represents an utterly unique opportunity to own a globally significant property.</p>
                          <p>The residence is comprised of 5 bedrooms, 2 master bathrooms, 4 on-suite guest bathrooms, 2 powder rooms, 2 offices, 2 dressing rooms, a media room, an oversized eat-in gourmet chef's kitchen, and a sprawling 1,100 square-foot Great Room perfectly situated in the prime southwest corner of the floor.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="property_sp_videos pb40 mt50 bb1">
                <ul class="nav nav-tabs" id="myTab3" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="property-tab" data-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="true">Property Video</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" id="virtual-tab" data-toggle="tab" href="#virtual" role="tab" aria-controls="virtual" aria-selected="false">360° Virtual Tour</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent3">
                  <div class="tab-pane fade show active" id="property" role="tabpanel" aria-labelledby="property-tab">
                    <div class="listing_single_video">
                      <div class="property_video">
                        <div class="thumb"><img class="pro_img img-fluid w100" src="images/listing/lspv.jpg" alt="lspv.jpg">
                          <div class="overlay_icon"><a class="video_popup_btn popup-youtube" href="https://www.youtube.com/watch?v=oqNZOOWF8qM"><span class="flaticon-play-button"></span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="virtual" role="tabpanel" aria-labelledby="virtual-tab">
                    <div class="listing_single_video">
                      <div class="property_video">
                        <div class="thumb"><img class="pro_img img-fluid w100" src="images/listing/lspv.jpg" alt="lspv.jpg">
                          <div class="overlay_icon"><a class="video_popup_btn popup-youtube" href="https://www.youtube.com/watch?v=oqNZOOWF8qM"><span class="flaticon-play-button"></span></a></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-lg-12">
              <div class="property_sp_tour_info pb40 mt50 bb1">
                <h4 class="mb30">Schedule A Tour</h4>
                <form class="mb40" action="#">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input class="form-control form_control" type="text" placeholder="Date">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="my_profile_setting_input ui_kit_select_search form-group">
                        <select class="selectpicker" data-live-search="true" data-width="100%">
                          <option data-tokens="9:00AM">10:00 AM</option>
                          <option data-tokens="9:00AM">10:30 AM</option>
                          <option data-tokens="9:00AM">11:00 AM</option>
                          <option data-tokens="9:00AM">11:30 AM</option>
                          <option data-tokens="9:00AM">12:00 PM</option>
                          <option data-tokens="9:00AM">12:30 PM</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </form>
                <h4 class="mb30">Your Information</h4>
                <form action="#">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <input class="form-control form_control" type="text" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <input class="form-control form_control" type="text" placeholder="Phone">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <input class="form-control form_control" type="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control mb30" rows="4" placeholder="Enter Your Message"></textarea>
                        <button type="submit" class="btn btn-thm submit_btn mt10">SUBMIT A TOUR REQUEST</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
           
            

            
            <div class="col-lg-12">
              <div class="property_sp_tour_info pb40 mt50 bb1">
                <h4 class="mb30">Property Statistics</h4>
                <form action="#">
                  <div class="row">
                    {{property_chart|load_charts:'chart1, chart2'}}
                    <div id="chart1"></div>
                    <div id="chart2"></div>
                  </div>
                </form>
              </div>
            </div>
            
            <div class="col-lg-12">
              <div class="custom_reivews pb50 mt50 bb1 row">
                <div class="col-lg-12">
                  <h4 class="mb25">4.67 (14 reviews)</h4>
                </div>
                <div class="col-lg-2">
                  <div class="title">Cleanliness</div>
                </div>
                <div class="col-lg-4">
                  <div class="text-right">
                    <div class="review_content">
                      <div class="review_line"></div>
                      <div class="review_point">4.7</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="title">Accuracy</div>
                </div>
                <div class="col-lg-4">
                  <div class="text-right">
                    <div class="review_content">
                      <div class="review_line"></div>
                      <div class="review_point">4.7</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="title">Communication</div>
                </div>
                <div class="col-lg-4">
                  <div class="text-right">
                    <div class="review_content">
                      <div class="review_line style2"></div>
                      <div class="review_point">4.9</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="title">Location</div>
                </div>
                <div class="col-lg-4">
                  <div class="text-right">
                    <div class="review_content">
                      <div class="review_line style2"></div>
                      <div class="review_point">4.9</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="title">Check-in</div>
                </div>
                <div class="col-lg-4">
                  <div class="text-right">
                    <div class="review_content">
                      <div class="review_line"></div>
                      <div class="review_point">4.9</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="title">Value</div>
                </div>
                <div class="col-lg-4">
                  <div class="text-right">
                    <div class="review_content">
                      <div class="review_line style2"></div>
                      <div class="review_point">4.9</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <div class="mbp_first mt15">
                    <!-- <img src="images/blog/reviewer1.png" class="mr-3" alt="reviewer1.png"> -->
                    <div class="media-body mt15">
                      <h4 class="sub_title mt-0">Jane Cooper</h4>
                      <div class="sspd_postdate fz14 mb20">April 6, 2021 at 3:21 AM
                        <div class="sspd_review pull-right">
                          <ul class="mb0 pl15">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item">(5 reviews)</li>
                          </ul>
                        </div>
                      </div>
                      <p class="fz14 mt10">Every single thing we tried with John was delicious! Found some awesome places we would definitely go back to on our trip. John was also super friendly and passionate about Beşiktaş and Istanbul.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <div class="mbp_first mt15">
                    <!-- <img src="images/blog/reviewer2.png" class="mr-3" alt="reviewer2.png"> -->
                    <div class="media-body mt15">
                      <h4 class="sub_title mt-0">Bessie Cooper</h4>
                      <div class="sspd_postdate fz14 mb20">April 6, 2021 at 3:21 AM
                        <div class="sspd_review pull-right">
                          <ul class="mb0 pl15">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item">(5 reviews)</li>
                          </ul>
                        </div>
                        </div>
                      <p class="fz14 mt10">Every single thing we tried with John was delicious! Found some awesome places we would definitely go back to on our trip. John was also super friendly and passionate about Beşiktaş and Istanbul.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="bsp_reveiw_wrt mt50">
                <h4>Write a Review</h4>
                <div class="df db-520">
                  <table class="table table-responsive table-borderless wa mr50">
                    <thead>
                      <tr>
                        <th class="pl0 body-color fw400" scope="col">Cleanliness</th>
                        <td>
                          <div class="sspd_review">
                            <ul class="mb0 pl15">
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="pl0 body-color fw400" scope="row">Accuracy</th>
                        <td>
                          <div class="sspd_review">
                            <ul class="mb0 pl15">
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="pl0 body-color fw400" scope="row">Communication</th>
                        <td>
                          <div class="sspd_review">
                            <ul class="mb0 pl15">
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table table-responsive table-borderless wa">
                    <thead>
                      <tr>
                        <th class="pl0 body-color fw400" scope="col">Accuracy</th>
                        <td>
                          <div class="sspd_review">
                            <ul class="mb0 pl15">
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="pl0 body-color fw400" scope="row">Location</th>
                        <td>
                          <div class="sspd_review">
                            <ul class="mb0 pl15">
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="pl0 body-color fw400" scope="row">Value</th>
                        <td>
                          <div class="sspd_review">
                            <ul class="mb0 pl15">
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                              <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <form class="comments_form">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="6" placeholder="Enter Your Message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-thm">Send Your Review</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="listing_single_sidebar">
            <div class="sidebar_agent_search_widget mb30">
              <!-- <div class="media">
                <img class="mr-3 author_img" src="images/team/author.png" alt="author.png">
                <div class="media-body">
                  <h5 class="mt10 mb5 fz16 heading-color fw600">Darrell Steward</h5>
                  <p class="mb0">(123)456-7890</p>
                  <a class="tdu text-thm" href="#">View Listings</a>
                </div>
              </div> -->
              <div class="agent_search_form">
                <form action="#">
                  <div class="form-group input-group mb30">
                    <input type="text" class="form-control form_control" placeholder="Name">
                  </div>
                  <div class="form-group input-group mb30">
                    <input type="text" class="form-control form_control" placeholder="Phone">
                  </div>
                  <div class="form-group input-group mb30">
                    <input type="email" class="form-control form_control" placeholder="Email">
                  </div>
                  <div class="form-group input-group mb30">
                    <textarea name="form_message" class="form-control" rows="5">Hello, I am interested in [New Apartment]</textarea>
                  </div>
                  <div class="ui_kit_checkbox">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label" for="customCheck1">By submitting this form I agree to Terms of Use</label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-block btn-thm mb10">CONTACT PROPERTY</button>
                  <button type="submit" class="btn btn-block btn-whatsapp mb0">WHATSAPP</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  	{% include 'properties/footer.html' %}
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>
</div>

<script>
  var geocoder;
    var map;
    var lat = parseFloat({{property.lat}})
    var lon = parseFloat({{property.lon}})
    var address = "{{property.location_area}}"

    function initializeGeocoder() {
        geocoder = new google.maps.Geocoder();

        var latlng = new google.maps.LatLng(lat, lon);
        var mapOptions = {
            zoom: 15,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: false,
                    title: "Afrihuts",
                    // icon: iconurl
                });

            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
      }

</script>
{% endblock %}