{% extends 'properties/index.html' %}
{% load static %}
{% block title %}Property Listing{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}
 

  <section class="our-listing pb30-991">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="listing_sidebar dn db-lg">
            <div class="sidebar_content_details style3">
              <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
              <div class="sidebar_listing_list style2 mobile_sytle_sidebar mb0">
                <div class="siderbar_widget_header">
                  <h4 class="title mb0">Find Your New Home<a class="filter_closed_btn float-right" href="#"><small>x</small><span class="flaticon-close"></span></a></h4>
                </div>
                <div class="sidebar_advanced_search_widget">
                <ul class="sasw_list mb0">
                  <li class="search_area">
                    <div class="form-group">
                      <input type="text" class="form-control form_control" placeholder="Enter Keyword">
                    </div>
                  </li>
                  <li>
                    <div class="search_option_two">
                      <div class="sidebar_select_options">
                        <select class="selectpicker w100 show-tick">
                          <option value="">Status</option>
                          <option value="Active">Active</option>
                          <option value="Pending">Pending</option>
                          <option value="Approved">Approved</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="search_option_two">
                      <div class="sidebar_select_options">
                        <select class="selectpicker w100 show-tick">
                          <option>Type</option>
                          <option value="Apartment">Apartment</option>
                          <option value="Condo">Condo</option>
                          <option value="Studio">Studio</option>
                          <option value="Villa">Villa</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="search_option_two">
                      <div class="sidebar_select_options">
                        <select class="selectpicker w100 show-tick">
                          <option>All Cities</option>
                          <option value="London">London</option>
                          <option value="NewYork">New York</option>
                          <option value="Paris">Paris</option>
                          <option value="Istanbul">Istanbul</option>
                          <option value="Amsterdam">Amsterdam</option>
                          <option value="Rome">Rome</option>
                          <option value="LogAngeles">Log Angeles</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="search_option_two">
                      <div class="sidebar_select_options">
                        <select class="selectpicker w100 show-tick">
                          <option>Bedrooms</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li class="search_area">
                    <div class="form-group">
                      <input type="text" class="form-control form_control" placeholder="Min. Area">
                    </div>
                  </li>
                  <li class="search_area">
                    <div class="form-group">
                      <input type="text" class="form-control form_control" placeholder="Max. Area">
                    </div>
                  </li>
                  <li class="search_area">
                    <div class="form-group">
                      <input type="text" class="form-control form_control" placeholder="Property ID">
                    </div>
                  </li>
                  <li>
                    <div class="sidebar_priceing_slider_mobile">
                      <div class="wrapper">
                        <p class="mb0">Price Range</p>
                        <div class="mt20 ml10" id="slider"></div>
                        <span id="slider-range-value1"></span>
                        <span id="slider-range-value2"></span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="sidebar_accordion_widget mt40">
                      <div id="accordion2" class="panel-group">
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title other_fet">
                              <a href="#panelBodyRating2" class="accordion-toggle link text-thm" data-toggle="collapse" data-parent="#accordion"><i class="icon fa fa-plus"></i> Other Features</a>
                            </h4>
                          </div>
                          <div id="panelBodyRating2" class="panel-collapse collapse">
                            <div class="panel-body">
                              <ul class="ui_kit_checkbox selectable-list">
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck10">
                                    <label class="custom-control-label mb0" for="customCheck10">Air Conditioning</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck11">
                                    <label class="custom-control-label mb0" for="customCheck11">Barbeque</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck12">
                                    <label class="custom-control-label mb0" for="customCheck12">Dryer</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck13">
                                    <label class="custom-control-label mb0" for="customCheck13">Gym</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck14">
                                    <label class="custom-control-label mb0" for="customCheck14">Laundry</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck15">
                                    <label class="custom-control-label mb0" for="customCheck15">Lawn</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck16">
                                    <label class="custom-control-label mb0" for="customCheck16">Microwave</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck17">
                                    <label class="custom-control-label mb0" for="customCheck17">Outdoor Shower</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck18">
                                    <label class="custom-control-label mb0" for="customCheck18">Refrigerator</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="search_option_button text-center mt25">
                      <button type="submit" class="btn btn-block btn-thm mb25">Search</button>
                      <ul class="mb0">
                        <li class="list-inline-item mb0"><a href="#"><span class="vam flaticon-return mr10"></span> Reset Search</a></li>
                        <li class="list-inline-item mb0 ml30"><a href="#"><span class="vam flaticon-heart-shape-outline mr10"></span> Saved Search</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb_content style2 mb100">
            <h2 class="breadcrumb_title">Blantyre Real Estate & Homes For Sale</h2>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="dn db-lg mb30-md text-center">
            <div id="main2"><a id="open2" class="filter_open_btn btn-thm" href="#">Show Filter <span class="flaticon-setting-lines ml10"></span></a></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-9">
          <div class="row">
            <div class="listing_filter_row dif db-767">
              <div class="col-sm-12 col-md-4 col-lg-4 col-xl-5">
                <div class="left_area tac-xsd mb30-767">
                  <p class="mb0 mt10"><span class="heading-color">{{all_property.count}}</span> Showing</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-8 col-lg-8 col-xl-7">
                <div class="listing_list_style tac-767">
                  <ul class="mb0">
                    <li class="list-inline-item dropdown text-left bb2"><span class="stts">Short by:</span>
                      <select class="selectpicker">
                        <option>Newest Listings</option>
                        <option>Most Recent</option>
                        <option>Recent</option>
                        <option>Best Selling</option>
                        <option>Old Review</option>
                      </select>
                    </li>
                    <li class="list-inline-item gird"><a href="#"><span class="fa fa-th-large"></span></a></li>
                    <li class="list-inline-item list"><a href="#"><span class="fa fa-th-list"></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% for item in all_property %}
            <div class="col-sm-6 col-lg-12">
              <div class="feat_property list listing">
                <div class="thumb">
                  {% for image in item.property_images.all %}
                  {% if image.is_feature %}
                  <a href="{% url 'properties:property-single' item.id %}">
                    
                    <img class="img-whp" src="{{image.image.url}}" alt="fl1.jpg">
                  </a>
                  {% endif %}
                  {% endfor %}
                  <div class="thmb_cntnt">
                    <ul class="tag mb0">
                      <li class="list-inline-item"><a href="#">FEATURED</a></li>
                    </ul>
                    <ul class="tag2 mb0">
                      <li class="list-inline-item"><a href="#">FOR SALE</a></li>
                    </ul>
                  </div>
                  <div class="thmb_cntnt2">
                    <ul class="listing_gallery mb0">
                      <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-photo-camera mr5"></span> {{item.property_images.count}}</a></li>
                      
                      {% if item.property_videos %}
                      <li class="list-inline-item"><a class="text-white" href="#"><span class="flaticon-play-button mr5"></span> {{item.property_videos.count}}</a></li>                        
                      {% endif %}
                        
                    </ul>
                  </div>
                </div>
                <div class="details">
                  <div class="tc_content">
                    <div class="wrapper float-left fn-md">
                      <h4><a href="{% url 'properties:property-single' item.id %}">{{item.name}}</a></h4>
                      <p>{{item.location_name}}</p>
                      <ul class="prop_details mb0">
                        <li class="list-inline-item"><a href="#"><span class="flaticon-bed pr5"></span> <br>{{item.no_rooms}} Rooms</a></li>
                        <li class="list-inline-item"><a href="#"><span class="flaticon-bath pr5"></span> <br>{{item.no_baths}} Bath</a></li>
                        <li class="list-inline-item"><a href="#"><span class="flaticon-car pr5"></span> <br>{{item.no_garages}} Garage</a></li>
                        <li class="list-inline-item"><a href="#"><span class="flaticon-ruler pr5"></span> <br>{{item.compound_area}} Sq Ft</a></li>
                      </ul>
                    </div>
                    <div class="wrapper2 text-center tal-md float-right fn-md">
                      <div class="title">Call: 202-555-0191</div>
                      <a href="{% url 'properties:property-single' item.id %}">
                        <button class="btn">DETAILS</button>
                      </a>
                    </div>
                  </div>
                  <div class="fp_footer">
                    <ul class="fp_meta float-left mb0">
                      <li class="list-inline-item">
                        {% if item.prev_price %}
                        <a href="#"><small><del class="body-color">$ {{item.prev_price}}/mo</del></small><br>
                          {% endif %}
                        <span class="heading-color fw600">$ {{item.price}}/mo</span></a>
                      </li>
                    </ul>
                    <ul class="fp_meta float-right mb0">
                      <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-resize"></span></a></li>
                      <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-add"></span></a></li>
                      <li class="list-inline-item"><a class="icon" href="#"><span class="flaticon-heart-shape-outline"></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-lg-12">
              <div class="mbp_pagination mt10">
                <ul class="page_navigation">

                  <!-- Check if there are any previous pages, disable button if not -->
                  {% if all_property.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{all_property.previous_page_number}}" tabindex="-1"><span class="fa fa-arrow-left"></span></a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link disabled" href="#" aria-disabled="true" tabindex="-1"><span class="fa fa-arrow-left"></span></a></li>
                  {% endif %}
                    
                  <!-- Show previous page number if there is a previous page -->
                  {% if all_property.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{all_property.previous_page_number}}">{{all_property.previous_page_number}}</a></li>
                  {% endif %}

                  <!-- Show current page number -->
                  <!-- <li class="page-item"><span class="page-numbers current">{{all_property.number}}</span></li> -->
                  <li class="page-item active" aria-current="page"><a class="page-link">{{all_property.number}}<span class="sr-only">{{all_property.number}}</span></a></li>

                  <!-- Show next page number if there is a next page -->
                  {% if all_property.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{all_property.next_page_number}}">{{all_property.next_page_number}}</a></li>  
                  
                  <!-- ellipsis for styling -->
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  
                  <!-- Show total number of pages -->
                  <li class="page-item"><a class="page-link" href="?page={{all_property.paginator.num_pages}}">{{all_property.paginator.num_pages}}</a></li>
                  {% endif %}
                    
                  <!-- Check if there is a next page, disable button if not -->
                
                {% if all_property.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{all_property.paginator.num_pages}}"><span class="fa fa-arrow-right"></span></a></li>  
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{all_property.paginator.num_pages}}"><span class="fa fa-arrow-right"></span></a></li>  
                {% endif %}
                  
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="sidebar_listing_grid1 mb30 dn-lg">
            <div class="sidebar_listing_list">
              <div class="sidebar_advanced_search_widget">
                <ul class="sasw_list mb0">
                  <li><h4 class="mb0">Find Your New Home</h4></li>
                  <li class="search_area">
                    <div class="form-group">
                      <input type="text" class="form-control form_control" placeholder="Enter Keyword">
                    </div>
                  </li>
                  <li>
                    <div class="search_option_two">
                      <div class="sidebar_select_options">
                        <select class="selectpicker w100 show-tick">
                          <option value="">Status</option>
                          <option value="Active">Active</option>
                          <option value="Pending">Pending</option>
                          <option value="Approved">Approved</option>
                          <option value="Other">Other</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="search_option_two">
                      <div class="sidebar_select_options">
                        <select class="selectpicker w100 show-tick">
                          <option>Type</option>
                          <option value="Apartment">Apartment</option>
                          <option value="Condo">Condo</option>
                          <option value="Studio">Studio</option>
                          <option value="Villa">Villa</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="search_option_two">
                      <div class="sidebar_select_options">
                        <select class="selectpicker w100 show-tick">
                          <option>All Cities</option>
                          <option value="London">London</option>
                          <option value="NewYork">New York</option>
                          <option value="Paris">Paris</option>
                          <option value="Istanbul">Istanbul</option>
                          <option value="Amsterdam">Amsterdam</option>
                          <option value="Rome">Rome</option>
                          <option value="LogAngeles">Log Angeles</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="search_option_two">
                      <div class="sidebar_select_options">
                        <select class="selectpicker w100 show-tick">
                          <option>Bedrooms</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                    </div>
                  </li>
                  <li class="search_area">
                    <div class="form-group">
                      <input type="text" class="form-control form_control" placeholder="Min. Area">
                    </div>
                  </li>
                  <li class="search_area">
                    <div class="form-group">
                      <input type="text" class="form-control form_control" placeholder="Max. Area">
                    </div>
                  </li>
                  <li class="search_area">
                    <div class="form-group">
                      <input type="text" class="form-control form_control" placeholder="Property ID">
                    </div>
                  </li>
                  <li>
                    <div class="sidebar_priceing_slider_desktop">
                      <div class="wrapper">
                        <p class="mb0">Price Range</p>
                        <div class="slider-range"></div>
                        <input type="text" class="amount" placeholder="$11,200"> 
                        <input type="text" class="amount2" placeholder="$15,200">
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="sidebar_accordion_widget mt40">
                      <div id="accordion" class="panel-group">
                        <div class="panel">
                          <div class="panel-heading">
                            <h4 class="panel-title other_fet">
                              <a href="#panelBodyRating" class="accordion-toggle link text-thm" data-toggle="collapse" data-parent="#accordion"><i class="icon fa fa-plus"></i> Other Features</a>
                            </h4>
                          </div>
                          <div id="panelBodyRating" class="panel-collapse collapse">
                            <div class="panel-body">
                              <ul class="ui_kit_checkbox selectable-list">
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label mb0" for="customCheck1">Air Conditioning</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label mb0" for="customCheck2">Barbeque</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                    <label class="custom-control-label mb0" for="customCheck3">Dryer</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                                    <label class="custom-control-label mb0" for="customCheck4">Gym</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck5">
                                    <label class="custom-control-label mb0" for="customCheck5">Laundry</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck6">
                                    <label class="custom-control-label mb0" for="customCheck6">Lawn</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck7">
                                    <label class="custom-control-label mb0" for="customCheck7">Microwave</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck8">
                                    <label class="custom-control-label mb0" for="customCheck8">Outdoor Shower</label>
                                  </div>
                                </li>
                                <li class="mb0">
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck9">
                                    <label class="custom-control-label mb0" for="customCheck9">Refrigerator</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="search_option_button text-center mt25">
                      <button type="submit" class="btn btn-block btn-thm mb25">Search</button>
                      <ul class="mb0">
                        <li class="list-inline-item mb0"><a href="#"><span class="vam flaticon-return mr10"></span> Reset Search</a></li>
                        <li class="list-inline-item mb0 ml30"><a href="#"><span class="vam flaticon-heart-shape-outline mr10"></span> Saved Search</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="terms_condition_widget">
              <h4 class="title mb10">Featured Properties</h4>
              <div class="sidebar_feature_property_slider">
                <div class="item">
                  <div class="feat_property sidebar mb10">
                    <div class="thumb">
                      <img class="img-whp" src="images/property/fp1.jpg" alt="fp1.jpg">
                      <div class="thmb_cntnt">
                        <ul class="tag mb0">
                          <li class="list-inline-item"><a href="#">For Rent</a></li>
                          <li class="list-inline-item"><a href="#">Featured</a></li>
                        </ul>
                        <h4 class="title posr color-white">New Apartment Nice Wiew</h4>
                        <a class="fp_price" href="#">$7,500/mo <small><del>$2,800/mo</del></small></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="feat_property sidebar mb10">
                    <div class="thumb">
                      <img class="img-whp" src="images/property/fp1.jpg" alt="fp1.jpg">
                      <div class="thmb_cntnt">
                        <ul class="tag mb0">
                          <li class="list-inline-item"><a href="#">For Rent</a></li>
                          <li class="list-inline-item"><a href="#">Featured</a></li>
                        </ul>
                        <h4 class="title posr color-white">New Apartment Nice Wiew</h4>
                        <a class="fp_price" href="#">$7,500/mo <small><del>$2,800/mo</del></small></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="feat_property sidebar mb10">
                    <div class="thumb">
                      <img class="img-whp" src="images/property/fp1.jpg" alt="fp1.jpg">
                      <div class="thmb_cntnt">
                        <ul class="tag mb0">
                          <li class="list-inline-item"><a href="#">For Rent</a></li>
                          <li class="list-inline-item"><a href="#">Featured</a></li>
                        </ul>
                        <h4 class="title posr color-white">New Apartment Nice Wiew</h4>
                        <a class="fp_price" href="#">$7,500/mo <small><del>$2,800/mo</del></small></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="feat_property sidebar mb10">
                    <div class="thumb">
                      <img class="img-whp" src="images/property/fp1.jpg" alt="fp1.jpg">
                      <div class="thmb_cntnt">
                        <ul class="tag mb0">
                          <li class="list-inline-item"><a href="#">For Rent</a></li>
                          <li class="list-inline-item"><a href="#">Featured</a></li>
                        </ul>
                        <h4 class="title posr color-white">New Apartment Nice Wiew</h4>
                        <a class="fp_price" href="#">$7,500/mo <small><del>$2,800/mo</del></small></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="feat_property sidebar mb10">
                    <div class="thumb">
                      <img class="img-whp" src="images/property/fp1.jpg" alt="fp1.jpg">
                      <div class="thmb_cntnt">
                        <ul class="tag mb0">
                          <li class="list-inline-item"><a href="#">For Rent</a></li>
                          <li class="list-inline-item"><a href="#">Featured</a></li>
                        </ul>
                        <h4 class="title posr color-white">New Apartment Nice Wiew</h4>
                        <a class="fp_price" href="#">$7,500/mo <small><del>$2,800/mo</del></small></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  	{% include 'properties/footer.html' %}
{% endblock %}