{% extends 'properties/index.html' %}
{% load static %}


{% block header %}
{% include 'properties/header-2.html' %}
{% endblock header %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- Our Dashbord -->
{% include 'users/dashboard-nav-1.html' %}

<!-- Our Dashbord -->
<section class="our-dashbord dashbord bgc-alice-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 dn-lg pl0"></div>
            <div class="col-xl-10">
                <div class="row">
                    {% include 'users/dashboard-nav.html' %}
                    <div class="col-lg-12 mb50">
                        <div class="breadcrumb_content">
                            <h2 class="breadcrumb_title">Property Creation Form</h2>
                        </div>
                    </div>
                </div>
                <form class="contact_form" id="property_creation_form" name="contact_form"
                    action="{% url 'properties:create-listing' choice %}" method="post" validate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="new_property_form">
                                <h4 class="title mb30">Contact Information</h4>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb30">
                                            {{form.name}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="ui_kit_select_search add_new_property mb30">
                                            {{form.property_type}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form.desc}}
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="new_property_form">
                                <h4 class="title mb30">Additional Information</h4>
                                <div class="row">
 
                                    <div class="col-sm-4">
                                        <div class="ui_kit_select_search add_new_property mb30">
                                            {{form.property_status}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="ui_kit_select_search add_new_property mb30">
                                            {{form.property_cat}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb30">
                                            {{form.no_rooms}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb30">
                                            {{form.no_baths}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb30">
                                            {{form.no_garages}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group mb30">
                                            {{form.year_built}}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        {{form.compound_area}}
                                    </div>
                                    <div class="col-md-4">
                                        {{form.property_area}}
                                    </div>
                                </div>
                            </div>
                            <div class="new_property_form">
                                <h4 class="title mb30">Price</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group mb30">
                                            {{form.price}}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group mb30">
                                            <input name="form_name" disabled class="form-control form_control"
                                                type="text" placeholder="Price Prefix (MWK)">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button id="main-submit" class="btn btn-thm listing_save_btn" type="submit"
                            form="contact_form">Next</button>
                    </div>
                </form>
            </div>

            <!-- close form tag here-->
            

            <div class="row mt50">
                <div class="col-lg-12">
                    <p class="mb0">Copyright © 2021 CreativeLayers. All Right Reserved.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<a class="scrollToHome" href="#"><i class="fa fa-angle-up"></i></a>

<script>
    document.getElementById('main-submit').addEventListener("click", function (e) {
        document.getElementById("property_creation_form").submit();
    });
</script>

<!-- Wrapper End -->
{% endblock content %}