{% extends 'properties/index.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}
	<!-- Inner Page Breadcrumb -->
	<section class="inner_page_breadcrumb">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-6">
					<div class="breadcrumb_content">
						<h2 class="breadcrumb_title">About Us</h2>
						<ol class="breadcrumb">
					    <li class="breadcrumb-item"><a href="{% url 'properties:home' %}">Home</a></li>
					    <li class="breadcrumb-item active" aria-current="page">About Us</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- About Text Content -->
	<section class="about-section bb1 pb70">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="main-title text-center">
						<h2>Our Mission Is To Houzing</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="about_thumb mb30-smd">
						<img class="img-fluid w100" src="{% static 'images/about/2.jpg' %}" alt="2.jpg">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about_content">
						<p class="large">Mauris ac consectetur ante, dapibus gravida tellus. Nullam aliquet eleifend dapibus. Cras sagittis, ex euismod lacinia tempor.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis ligula eu lectus vulputate porttitor sed feugiat nunc. Mauris ac consectetur ante, dapibus gravida tellus. Nullam aliquet eleifend dapibus. Cras sagittis, ex euismod lacinia tempor, lectus orci elementum augue, eget auctor metus ante sit amet velit.</p>
            <p>Maecenas quis viverra metus, et efficitur ligula. Nam congue augue et ex congue, sed luctus lectus congue. Integer convallis condimentum sem. Duis elementum tortor eget condimentum tempor. Praesent sollicitudin lectus ut pharetra pulvinar. Donec et libero ligula. Vivamus semper at orci at placerat.Placeat Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod libero amet, laborum qui nulla quae alias tempora.</p>
						<p>That’s why we go beyond the typical listings, by sourcing insights straight from locals and offering over 34 neighborhood map overlays, to give people a deeper understanding of what living in a home and neighborhood is really like.</p>
					</div>
				</div>
			</div>
			<!-- <div class="row mt50">
				<div class="col-md-6 col-lg-3">
					<div class="funfact_one text-center">
						<div class="details">
							<div class="timer text-thm">66.180</div>
							<p class="ff_title">Homes for sale</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-3">
          <div class="funfact_one text-center">
            <div class="details">
              <div class="timer text-thm">4.809</div>
              <p class="ff_title">Open houses</p>
            </div>
          </div>
				</div>
				<div class="col-md-6 col-lg-3">
          <div class="funfact_one text-center">
            <div class="details">
              <div class="timer text-thm">30.469</div>
              <p class="ff_title">Recently sold</p>
            </div>
          </div>
				</div>
				<div class="col-md-6 col-lg-3">
          <div class="funfact_one text-center">
            <div class="details">
              <div class="timer text-thm">2.919</div>
              <p class="ff_title">Price reduced</p>
            </div>
          </div>
				</div>
			</div> -->
		</div>
	</section>
  
  <!-- Our Team -->
  <section class="our-team pb40 bb1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="main-title text-center">
            <h2>Meet Our Agents</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="team_slider_home1">
            <div class="item">
              <div class="team_member">
                <div class="thumb"> <img class="img-fluid" src="{% static 'images/team/1.jpg' %}" alt="1.jpg">
                  <div class="overylay">
                    <ul class="social_icon">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="details">
                  <h4><a href="page-agent-single.html">Robert Fox</a></h4>
                  <p>Lead Designer</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team_member">
                <div class="thumb"> <img class="img-fluid" src="{% static 'images/team/2.jpg' %}" alt="2.jpg">
                  <div class="overylay">
                    <ul class="social_icon">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="details">
                  <h4><a href="page-agent-single.html">Floyd Miles</a></h4>
                  <p>CEO, Director</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team_member">
                <div class="thumb"> <img class="img-fluid" src="{% static 'images/team/3.jpg' %}" alt="3.jpg">
                  <div class="overylay">
                    <ul class="social_icon">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="details">
                  <h4><a href="page-agent-single.html">Albert Flores</a></h4>
                  <p>Marketer</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team_member">
                <div class="thumb"> <img class="img-fluid" src="{% static 'images/team/4.jpg' %}" alt="4.jpg">
                  <div class="overylay">
                    <ul class="social_icon">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="details">
                  <h4><a href="page-agent-single.html">Darlene Robertson</a></h4>
                  <p>Project Manager</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team_member">
                <div class="thumb"> <img class="img-fluid" src="{% static 'images/team/5.jpg'%}" alt="5.jpg">
                  <div class="overylay">
                    <ul class="social_icon">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="details">
                  <h4><a href="page-agent-single.html">Savannah Nguyen</a></h4>
                  <p>Lead Developer</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

	<!-- Our Partners -->
	<section id="our-partners" class="our-partners bt1 pt60 pb60">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg-2">
					<div class="our_partner">
						<img src="{% static 'images/partners/1.png' %}" alt="1.png">
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2">
					<div class="our_partner">
						<img src="{% static 'images/partners/2.png' %}" alt="2.png">
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2">
					<div class="our_partner">
						<img src="{% static 'images/partners/3.png' %}" alt="3.png">
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2">
					<div class="our_partner">
						<img src="{% static 'images/partners/4.png' %}" alt="4.png">
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2">
					<div class="our_partner">
						<img src="{% static 'images/partners/5.png' %}" alt="5.png">
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg-2">
					<div class="our_partner">
						<img src="{% static 'images/partners/6.png' %}" alt="6.png">
					</div>
				</div>
			</div>
		</div>
	</section>
  {% include 'properties/footer.html' %}
{% endblock content %}