{% load static %}
<div class="extra-dashboard-menu dn-lg">
	<div class="ed_menu_list">
		<ul>
			<li><a href="{% url 'accounts:dashboard' %}"><span class="flaticon-dashboard"></span> Dashboard</a></li>
			<li><a href="{% url 'accounts:profile' %}"><span class="flaticon-user"></span> My Profile</a></li>
			<li><a href="{% url 'accounts:my-properties' %}"><span class="flaticon-house"></span> My Properties List</a></li>
			<li><a href="{% url 'accounts:onbording-1' %}"><span class="flaticon-button"></span> Add New Property</a></li>
			<li><a href="{% url 'accounts:bookmarks' %}"><span class="flaticon-heart-shape-outline"></span> Bookmarks</a></li>
			<!-- <li><a href="page-dashboard-save-search.html"><span class="flaticon-magnifiying-glass"></span> Saved Searches</a></li> -->
			
			{% if lodges is not 0 or bnbs is not 0 %}
			<li><a href="{% url 'accounts:select-bookings' %}"><span class="flaticon-invoice"></span> My Bookings</a></li>
			<li><a href="{% url 'accounts:bank-details' %}"><i class="bi bi-cash-coin"></i> My Billing Details</a></li>
			{% endif %}
			
				
			<li><a href="{% url 'accounts:select-finances' %}"><span class="flaticon-invoice"></span> My Finances</a></li>
			<li><a href="{% url 'accounts:notifications' %}"><span class="flaticon-mail-inbox-app"></span> Inbox</a></li>
			<li><a href="{% url 'accounts:logout' %}"><span class="flaticon-logout"></span> Logout</a></li>
		</ul>
	</div>
</div>