{% load static %}
<div class="extra-dashboard-menu dn-lg">
		<div class="ed_menu_list">
			<ul>
				<li><a href="{% url 'accounts:dashboard' %}"><span class="flaticon-dashboard"></span> Dashboard</a></li>
				<li><a href="{% url 'accounts:profile' %}"><span class="flaticon-user"></span> My Profile</a></li>
				<li><a href="{% url 'accounts:my-properties' %}"><span class="flaticon-house"></span> My Properties List</a></li>
				<li><a href="{% url 'properties:create-listing' %}"><span class="flaticon-button"></span> Add New Property</a></li>
				<li><a href="{% url 'accounts:bookmarks' %}"><span class="flaticon-heart-shape-outline"></span> Bookmarks</a></li>
				<li><a href="page-dashboard-save-search.html"><span class="flaticon-magnifiying-glass"></span> Saved Searches</a></li>
				<li><a href="page-dashboard-invoices.html"><span class="flaticon-invoice"></span> My Invoices</a></li>
				<li><a href="page-dashboard-message.html"><span class="flaticon-mail-inbox-app"></span> Inbox</a></li>
				<li><a href="{% url 'accounts:logout' %}"><span class="flaticon-logout"></span> Logout</a></li>
			</ul>
		</div>
	</div>