{% extends 'properties/index.html' %}
{% load static %}
{% load counter_tag %}
{% load custom_tag %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block title %}Dashboard{% endblock %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}

	<!-- Our Dashbord -->
	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
								<h2 class="breadcrumb_title">My Properties</h2>
								<p>Ready to jump back in!</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
						</div>
						<div class="col-lg-12">
							<div class="invoice_table property table-responsive">
								<div class="heading_selector posr bgc-white">
									<div class="float-right fn-sm">
										<ul class="mb0">
											<li class="list-inline-item">
												<div class="search_field property">
													<form class="form-inline">
											    	<input class="form-control" type="search" placeholder="Search a Listing" aria-label="Search">
											    </form>
												</div>
											</li>
										</ul>
									</div>
									<div class="dropdown_selector property_page float-left fn-sm">
										<ul class="mb30 mt3">
											<li class="list-inline-item">
												<div class="wrapper">
		                      <div class="input-group mb0-767">
		                        <div class="input-group-prepend">
		                          <div class="input-group-text pb0-767">Order By: </div>
		                        </div>
		                        <div class="select-wrap">
		                          <div class="dropdown bootstrap-select">
		                          	<select class="selectpicker" tabindex="-98">
			                            <option value="Date-NewtoOld">Date - New to Old</option>
			                            <option value="Recent">Recent</option>
			                            <option value="OldtoNew">Old to New</option>
			                            <option value="Updated">Updated</option>
			                            <option value="Istanbul">Other</option>
			                          </select>
			                        </div>
			                      </div>
			                    </div>
		                    </div>
											</li>
											<li class="list-inline-item">
												<div class="wrapper style2">
		                      <div class="input-group mb0-767">
		                        <div class="input-group-prepend">
		                          <div class="input-group-text pb0-767">Filter By Status:</div>
		                        </div>
		                        <div class="select-wrap">
		                          <div class="dropdown bootstrap-select">
		                          	<select class="selectpicker" tabindex="-98">
			                            <option value="All">All</option>
			                            <option value="Approved">Approved</option>
			                            <option value="Cancel">Cancel</option>
			                            <option value="Pending">Pending</option>
			                            <option value="Istanbul">Other</option>
			                          </select>
			                        </div>
			                      </div>
			                    </div>
		                    </div>
											</li>
										</ul>
									</div>
								</div>
								<table class="table table-borderless">
								  <thead class="thead-light">
								    <tr>
								      <th scope="col">Listing Title</th>
								      <th scope="col">Date Published</th>
								      <th scope="col">Type</th>
									  <th scope="col">Verification</th>
								      <th scope="col">Views</th>
								      <th scope="col">Action</th>
								    </tr>
								  </thead>
								  <tbody>
									{% for item in lodges %}
									<tr>
								      <th scope="row">
					              <div class="feat_property list property">
					                <div class="thumb">
										{% for image in item.pictures.all %}
										{% if image.is_feature %}
										<img class="img-whp" src="{{image.image.image.url}}" alt="s1.png">
										{% endif %}
										{% endfor %}
					                  <div class="thmb_cntnt">
					                    <ul class="tag mb0">
											{% if item.is_featured %}
											<li class="list-inline-item"><a href="#">FEATURED</a></li>
											{% endif %}
					                    </ul>
					                  </div>
					                </div>
					                <div class="details">
					                  <div class="tc_content">
					                    <h4 class="title">{{item.name}} <small class="tag2">FOR SALE</small></h4>
					                    <p>{{item.street_name}}, {{item.city}}, {{item.country}}</p>
					                    <div class="fp_meta">
					                    	<a href="#">
					                    		<span class="heading-color fw600">{{item.price_per_night}}</span>
					                    	</a>
					                    </div>
					                  </div>
					                </div>
					              </div>
								      </th>
								      <td>{{item.created_at}}</td>
								      <td class=".">{% verbose_name item %}</td>
									  <td class="">{{item.verification}}</td>
								      <td>{% number_of_bnbs item.id %}</td>
								    	<td class="editing_list">
								    		<ul>
								    			<li class="list-inline-item">
										    		<a href="{% url 'lodges:edit-options' item.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"></span></a>
								    			</li>
								    			<li class="list-inline-item">
										    		<a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-trash"></span></a>
								    			</li>
								    		</ul>
								    	</td>
								    </tr>
									{% endfor %}
									
									{% for item in bnb %}
									<tr>
								      <th scope="row">
					              <div class="feat_property list property">
					                <div class="thumb"> 
										{% for image in item.bnb_image.all %}
										{% if image.is_feature %}
										<img class="img-whp" src="{{image.image.image.url}}" alt="s1.png">
										{% endif %}
										{% endfor %}
					                  <div class="thmb_cntnt">
					                    <ul class="tag mb0">
											{% if item.is_featured %}
											<li class="list-inline-item"><a href="#">FEATURED</a></li>
											{% endif %}
					                    </ul>
					                  </div>
					                </div>
					                <div class="details">
					                  <div class="tc_content">
					                    <h4 class="title">{{item.name}} <small class="tag2">FOR SALE</small></h4>
					                    <p>{{item.street_name}}, {{item.city}}, {{item.country}}</p>
					                    <div class="fp_meta">
					                    	<a href="#">
					                    		<!-- <small><del class="body-color">$2,800/mo</del></small>  -->
												<!-- <br> -->
					                    		<span class="heading-color fw600">{{item.price_per_night}}</span>
					                    	</a>
					                    </div>
					                  </div>
					                </div>
					              </div>
								      </th>
								      <td>{{item.created_at}}</td>
									  {% if is_active %}
								      <td class="text-thm">Published</td>
									  {% endif %}
									  <td class="">{% verbose_name item %}</td>
									  <td class="">{{item.verification}}</td>
								      <td>{% number_of_lodges item.id %}</td>
								    	<td class="editing_list">
								    		<ul>
								    			<li class="list-inline-item">
										    		<a href="{% url 'bnb:edit-options' item.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"></span></a>
								    			</li>
								    			<li class="list-inline-item">
										    		<a href="#" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-trash"></span></a>
								    			</li>
								    		</ul>
								    	</td>
								    </tr>
									{% endfor %}

									{% for item in properties %}
								    <tr>
								      <th scope="row">
					              <div class="feat_property list property">
					                <div class="thumb"> 
										{% for image in item.property_images.all %}
											{% if image.is_feature %}
											<img class="img-whp" src="{{image.file.url}}" alt="s1.png">s1
											{% endif %}
										{% endfor %}
					                  <div class="thmb_cntnt">
										{% if item.is_featured %}
					                    <ul class="tag mb0">
					                      <li class="list-inline-item"><a href="#">FEATURED</a></li>
					                    </ul>
										{% endif %}
					                  </div>
					                </div>
					                <div class="details">
					                  <div class="tc_content">
					                    <h4 class="title">{{item.name}}<small class="tag2">{{item.property_type}}</small></h4>
					                    <p>{{item.location_area}}</p>
					                    <div class="fp_meta">
					                    	<a href="#">
												
												{% if item.prev_price %}	
					                    		<small><del class="body-color">$ {{item.prev_price}}/mo</del></small> <br>
												{% endif %}
												<span class="heading-color fw600">$ {{item.price}}/mo</span>
					                    	</a>
					                    </div>
					                  </div>
					                </div>
					              </div>
								      </th>
								      <td>{{item.created_at}}</td>
								      <td class="">{% verbose_name item %}</td>
									  <td class="">{{item.verification}}</td>
								      <td>{% number_of_properties item.id %}</td>
								    	<td class="editing_list">
								    		<ul>
								    			<li class="list-inline-item">
										    		<a href="{% url 'properties:edit-listing-options' item.id %}" data-toggle="tooltip" data-placement="top" title="Edit"><span class="flaticon-edit"></span></a>
								    			</li>
								    			<li class="list-inline-item">
										    		<form name="delete-form" id="delete-form">	
														<a id="confirm-delete" data-toggle="tooltip" data-placement="top" title="Delete"><span class="flaticon-trash"></span></a>
														<input id="hidden-id" hidden type="text" value="{{item.id}}">
														<input id="hidden-name" hidden type="text" value="{{item.name}}">	
													</form>
								    			</li>
								    		</ul>
								    	</td>
								    </tr>
									{% comment %}
									{% empty %}
									
									<h2>no propeties posted</h2>
									{% endcomment %}
									{% endfor %}
								    
								  </tbody>
								</table>								
								<div class="mbp_pagination mt10">
									<ul class="page_navigation">
								    <li class="page-item">
								    	<a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="fa fa-arrow-left"></span></a>
								    </li>
								    <li class="page-item"><a class="page-link" href="#">1</a></li>
								    <li class="page-item"><a class="page-link" href="#">2</a></li>
								    <li class="page-item active" aria-current="page">
								    	<a class="page-link" href="#">3 <span class="sr-only">(current)</span></a>
								    </li>
								    <li class="page-item"><a class="page-link" href="#">4</a></li>
								    <li class="page-item"><a class="page-link" href="#">5</a></li>
								    <li class="page-item"><a class="page-link" href="#">...</a></li>
								    <li class="page-item"><a class="page-link" href="#">15</a></li>
								    <li class="page-item">
								    	<a class="page-link" href="#"><span class="fa fa-arrow-right"></span></a>
								    </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt50">
						<div class="col-lg-12 text-center">
							<p class="mb0">Copyright © 2021 CreativeLayers. All Right Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<script>
	document.getElementById('confirm-delete').addEventListener('click', function (e) {
		e.preventDefault();

		var hidden_id = document.getElementById("hidden-id").value;
		var hidden_name = document.getElementById("hidden-name").value;

		Swal.fire({
			title: 'Are you sure you want to delete property listing?',
			showDenyButton: true,
			showCancelButton: true,
			confirmButtonText: 'Delete',
			denyButtonText: `Don't Delete`,
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					type: 'POST',
					url: 'listing/delete/' + $("hidden-id").val(),
					data: {
						csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
					},

					success: function () {Swal.fire('Deleted!', '', 'success')},

					error: function () {Swal.fire('An Error Occurred!', '', 'info')}
				});
				Swal.fire('Listing: '+hidden_name+' Deleted!', '', 'success')
			} else if (result.isDenied) {
				Swal.fire('Changes are not saved', '', 'info')
			}
		})

	});
</script>

{% endblock %}