{% extends 'properties/index.html' %}
{% load static %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block title %}Dashboard{% endblock %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}
	<!-- Our Dashbord -->
	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
								{% if choice == 'user' %}

								<h2 class="breadcrumb_title">My Receipts</h2>
								<p>Ready to jump back in!</p>
								<small>A list of all the receipts by your customers on your listings.</small>
								
								{% elif choice == 'client' %}
								
								<h2 class="breadcrumb_title">My Payments</h2>
								<p>Ready to jump back in!</p>
								<small>A list of all the payments by you on various listings.</small>
								
								{% endif %}
							</div>
						</div>
					</div>

					
					{% if choice == 'user' %}
					<div class="row">
						<div class="col-lg-12">
							<div class="ui_kit_tab style2 mt30"> 
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
								  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2">Payments</a> </li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
								  <div id="home2" class="container tab-pane active">
									<div class="invoice_table table-responsive">
										<table class="table table-borderless">
										  <thead class="thead-light">
											<tr>
											  <th scope="col">#</th>
											  <th scope="col">Payment Method</th>
											  <th scope="col">Payment Key</th>
											  <th scope="col">Full Name</th>
											  <th scope="col">Phone</th>
											  <th scope="col">Listing</th>
											  <th scope="col">Type</th>
											  <th scope="col">Amount</th>
											  <th scope="col">Created</th>
											</tr>
										  </thead>
										  <tbody>
											
											{% for payment in finances %}
											<tr>
												<th scope="row">{{forloop.counter}}</th>
												<td>{{payment.payment_option.payment_option}}</td>
												<td>
													{% if payment.meta_title == 'Property' %}
													<a href="#" class="property-payment-details-link" data-toggle="modal" data-target="#paymentModal" data-reference="{{payment.order_key}}">
														{{payment.order_key}}
													</a>
													{% elif payment.meta_title == 'BnB' %}
													<a href="#" class="bnb-payment-details-link" data-toggle="modal" data-target="#paymentModal" data-reference="{{payment.order_key}}">
														{{payment.order_key}}
													</a>
													{% elif payment.meta_title == 'Lodge' %}
													<a href="#" class="lodge-payment-details-link" data-toggle="modal" data-target="#paymentModal" data-reference="{{payment.order_key}}">
														{{payment.order_key}}
													</a>
													{% endif %}
												</td>
												<td>{{payment.full_name}}</td>
												<td>{{payment.phone}}</td>
												
												{% if payment.meta_title == 'Property' %}
												<td><a href="{% url 'properties:property-single' payment.property.pk %}">{{payment.property.name}}</a></td>
												{% elif payment.meta_title == 'BnB' %}
												<td><a href="{% url 'bnb:bnb-detail' payment.bnb.pk %}">{{payment.bnb.title}}</a></td>
												{% elif payment.meta_title == 'Lodge' %}
												<td><a href="{% url 'lodges:lodge-detail' payment.lodge.pk %}">{{payment.lodge.name}}</a></td>
												{% endif %}
													
												<td>{{payment.meta_title}}</td>
												<td>$ {{payment.total_paid}}</td>
												<td>{{payment.created}}</td>
											 </tr>
											{% endfor %}
												
										  </tbody>
										</table>
									</div>								  </div>							  
								</div>
							  </div>
						</div>
					</div>
					{% elif choice == 'client' %}
					<div class="row">
						<div class="col-lg-12">
							<div class="ui_kit_tab style2 mt30"> 
								<!-- Nav tabs -->
								<ul class="nav nav-tabs" role="tablist">
								  <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#menu4">Receipts</a> </li>
								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
								  <div id="menu4" class="container tab-pane active">
									<div class="invoice_table table-responsive">
										<table class="table table-borderless">
										  <thead class="thead-light">
											<tr>
											  <th scope="col">#</th>
											  <th scope="col">Payment Method</th>
											  <th scope="col">Payment Key</th>
											  <th scope="col">Full Name</th>
											  <th scope="col">Phone</th>
											  <th scope="col">Listing</th>
											  <th scope="col">Type</th>
											  <th scope="col">Amount</th>
											  <th scope="col">Created</th>
											</tr>
										  </thead>
										  <tbody>
											
											{% for receipt in receipts %}
											<tr>
												<th scope="row">{{forloop.counter}}</th>
												<td>{{receipt.payment_option.payment_option}}</td>
												<td>
													{% if receipt.meta_title == 'Property' %}
													<a href="#" class="property-receipt-details-link" data-toggle="modal" data-target="#receiptModal" data-reference="{{receipt.order_key}}">
														{{receipt.order_key}}
													</a>
													{% elif receipt.meta_title == 'BnB' %}
													<a href="#" class="bnb-receipt-details-link" data-toggle="modal" data-target="#receiptModal" data-reference="{{receipt.order_key}}">
														{{receipt.order_key}}
													</a>
													{% elif receipt.meta_title == 'Lodge' %}
													<a href="#" class="lodge-receipt-details-link" data-toggle="modal" data-target="#receiptModal" data-reference="{{receipt.order_key}}">
														{{receipt.order_key}}
													</a>
													{% endif %}
												</td>
												<td>{{receipt.full_name}}</td>
												<td>{{receipt.phone}}</td>
												
												{% if receipt.meta_title == 'Property' %}
												<td><a href="{% url 'properties:property-single' receipt.property.pk %}">{{receipt.property.name}}</a></td>
												{% elif receipt.meta_title == 'BnB' %}
												<td><a href="{% url 'bnb:bnb-detail' receipt.bnb.pk %}">{{receipt.bnb.title}}</a></td>
												{% elif receipt.meta_title == 'Lodge' %}
												<td><a href="{% url 'lodges:lodge-detail' receipt.lodge.pk %}">{{receipt.lodge.name}}</a></td>
												{% endif %}
													
												<td>{{receipt.meta_title}}</td>
												<td>$ {{receipt.total_paid}}</td>
												<td>{{receipt.created}}</td>
											 </tr>
											{% endfor %}
												
										  </tbody>
										</table>
									</div>		
									</div>							  
								</div>
							  </div>
						</div>
					</div>
					{% endif %}

					<!-- payment modal -->
					<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<!-- modal header -->
								<div class="modal-header">
									<h4 class="modal-title" id="paymentModalLabel">Payment Details</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times</span>
									</button>
								</div>
								<!-- modal body -->
								<div class="modal-body" id="modal-body">
									Payment Key: <span id="modalKey"></span>
									<img src="" alt="Payment Image" id="modalImage" class="img-fluid">
								</div>
								<!-- modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

					<!-- receipts modal -->
					<div class="modal fade" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="receiptModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-content">
								<!-- modal header -->
								<div class="modal-header">
									<h4 class="modal-title" id="receiptModalLabel">Receipt Details</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times</span>
									</button>
								</div>
								<!-- modal body -->
								<div class="modal-body" id="modal-receipt-body">
									Payment Key: <span id="modalReceiptKey"></span>
									<img src="" alt="Receipt Image" id="modalReceiptImage" class="img-fluid">
								</div>
								<!-- modal footer -->
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

					<!-- script -->
					<script>
						// payment variables
						const bookingBnbLinks = document.querySelectorAll(".bnb-payment-details-link");
						const bookingLodgeLinks = document.querySelectorAll(".lodge-payment-details-link");
						const bookingPropertyLinks = document.querySelectorAll(".property-payment-details-link");
						const modalKey = document.getElementById("modalKey");
						const modalBody = document.getElementById("modal-body");
						const modalImage = document.getElementById("modalImage");

						// receipt variables
						const bookingReceiptsBnbLinks = document.querySelectorAll(".bnb-receipt-details-link");
						const bookingReceiptsLodgeLinks = document.querySelectorAll(".lodge-receipt-details-link");
						const bookingReceiptsPropertyLinks = document.querySelectorAll(".property-receipt-details-link");
						const modalReceiptsKey = document.getElementById("modalReceiptKey");
						const modalReceiptsBody = document.getElementById("modal-receipt-body");
						const modalReceiptsImage = document.getElementById("modalReceiptImage");

						// Payment methods
						// Get details for BNB booking 
						bookingBnbLinks.forEach(link => {
							link.addEventListener('click', function(event) {
								event.preventDefault();
								const orderKey = this.dataset.reference;
								
								// fetch booking details using AJAX
								$.ajax({
									url: "{% url 'accounts:bnb-payment-details' %}",
									data: {order_key: orderKey},
									success: function(data) {
										modalKey.textContent = orderKey;
										modalImage.src = data.qr_code;
										modalBody.innerHTML = `
										<p>Payment Key: ${data.order_key}</p>
										<p>Billing Status: ${data.billing_status}</p>
										<img src=${data.qr_code} alt="payment image" class="img-fluid" style="max-width:350px;max-height:350px;">
										`;
									},
									error: function(error) {
										console.error(error);
									}
								});


							});
						});

						// Get details for lodge booking 
						bookingLodgeLinks.forEach(link => {
							link.addEventListener('click', function(event) {
								event.preventDefault();
								const orderKey = this.dataset.reference;
								
								// fetch booking details using AJAX
								$.ajax({
									url: "{% url 'accounts:lodge-payment-details' %}",
									data: {order_key: orderKey},
									success: function(data) {
										modalKey.textContent = orderKey;
										modalImage.src = data.qr_code;
										modalBody.innerHTML = `
										<p>Payment Key: ${data.order_key}</p>
										<p>Billing Status: ${data.billing_status}</p>
										<img src=${data.qr_code} alt="payment image" class="img-fluid" style="max-width:350px;max-height:350px;">
										`;
									},
									error: function(error) {
										console.error(error);
									}
								});


							});
						});

						// Get details for property booking 
						bookingPropertyLinks.forEach(link => {
							link.addEventListener('click', function(event) {
								event.preventDefault();
								const orderKey = this.dataset.reference;
								
								// fetch booking details using AJAX
								$.ajax({
									url: "{% url 'accounts:property-payment-details' %}",
									data: {order_key: orderKey},
									success: function(data) {
										modalKey.textContent = orderKey;
										modalImage.src = data.qr_code;
										modalBody.innerHTML = `
										<p>Payment Key: ${data.order_key}</p>
										<p>Billing Status: ${data.billing_status}</p>
										<img src=${data.qr_code} alt="payment image" class="img-fluid" style="max-width:350px;max-height:350px;">
										`;
									},
									error: function(error) {
										console.error(error);
									}
								});


							});
						});

						// Receipts methods
						bookingReceiptsBnbLinks.forEach(link => {
							link.addEventListener('click', function(event) {
								event.preventDefault();
								const orderKey = this.dataset.reference;
								
								// fetch booking details using AJAX
								$.ajax({
									url: "{% url 'accounts:bnb-payment-details' %}",
									data: {order_key: orderKey},
									success: function(data) {
										modalReceiptsKey.textContent = orderKey;
										modalReceiptsImage.src = data.qr_code;
										modalReceiptsBody.innerHTML = `
										<p>Receipt Key: ${data.order_key}</p>
										<p>Billing Status: ${data.billing_status}</p>
										<img src=${data.qr_code} alt="receipt image" class="img-fluid" style="max-width:350px;max-height:350px;">
										`;
									},
									error: function(error) {
										console.error(error);
									}
								});


							});
						});

						// Get details for lodge booking 
						bookingReceiptsLodgeLinks.forEach(link => {
							link.addEventListener('click', function(event) {
								event.preventDefault();
								const orderKey = this.dataset.reference;
								
								// fetch booking details using AJAX
								$.ajax({
									url: "{% url 'accounts:lodge-payment-details' %}",
									data: {order_key: orderKey},
									success: function(data) {
										modalReceiptsKey.textContent = orderKey;
										modalReceiptsImage.src = data.qr_code;
										modalReceiptsBody.innerHTML = `
										<p>Receipts Key: ${data.order_key}</p>
										<p>Billing Status: ${data.billing_status}</p>
										<img src=${data.qr_code} alt="receipt image" class="img-fluid" style="max-width:350px;max-height:350px;">
										`;
									},
									error: function(error) {
										console.error(error);
									}
								});


							});
						});

						// Get details for property booking 
						bookingPropertyLinks.forEach(link => {
							link.addEventListener('click', function(event) {
								event.preventDefault();
								const orderKey = this.dataset.reference;
								
								// fetch booking details using AJAX
								$.ajax({
									url: "{% url 'accounts:property-payment-details' %}",
									data: {order_key: orderKey},
									success: function(data) {
										modalReceiptsKey.textContent = orderKey;
										modalReceiptsImage.src = data.qr_code;
										modalReceiptsBody.innerHTML = `
										<p>Receipt Key: ${data.order_key}</p>
										<p>Billing Status: ${data.billing_status}</p>
										<img src=${data.qr_code} alt="receipt image" class="img-fluid" style="max-width:350px;max-height:350px;">
										`;
									},
									error: function(error) {
										console.error(error);
									}
								});


							});
						});


					</script>
					
						
					{% include 'properties/copyright.html' %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}