{% extends 'properties/index.html' %}
{% load static %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block title %}Dashboard{% endblock %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}
	<!-- Our Dashbord -->
	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid message_page">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
								<h2 class="breadcrumb_title">Inbox</h2>
								<p class="">Ready to jump back in?</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-5 col-xl-4">
							<div class="message_container">
								<div class="inbox_user_list">
									<div class="iu_heading">
										<div class="candidate_revew_search_box">
											<form class="form-inline">
									    	<button class="btn" type="submit"><span class="flaticon-magnifiying-glass"></span></button>
									    	<input class="form-control" type="search" placeholder="Serach" aria-label="Search">
									    </form>
										</div>
									</div>
									<ul>
										<li class="contact pt3">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s1.jpg' %}" alt="s1.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Darlene Robertson</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li class="contact">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s2.jpg' %}" alt="s2.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Jane Cooper</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
															<div class="m_notif">2</div>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li class="contact">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s3.jpg' %}" alt="s3.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Arlene McCoy</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
															<div class="m_notif online">2</div>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li class="contact">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s4.jpg' %}" alt="s4.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Albert Flores</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li class="contact">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s5.jpg' %}" alt="s5.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Cameron Williamson</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
															<div class="m_notif away">2</div>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li class="contact">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s6.jpg' %}" alt="s6.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Kristin Watson</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li class="contact">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s7.jpg' %}" alt="s7.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Annette Black</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
															<div class="m_notif busy">2</div>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li class="contact">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s8.jpg' %}" alt="s8.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Jacob Jones</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li class="contact">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s1.jpg' %}" alt="s1.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Vincent Porter</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
														</div>
													</div>
												</div>
											</a>
										</li>
										<li class="contact">
											<a href="#">
												<div class="wrap">
													<img class="img-fluid" src="{% static 'images/team/s2.jpg' %}" alt="s2.jpg"/>
													<div class="child-wrap df">
														<div class="meta">
															<h5 class="name">Jacob Brown</h5>
															<p class="preview">Head of Development</p>
														</div>
														<div class="iul_notific">
															<small class="body-color">35 mins</small>
														</div>
													</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-xl-8">
							<div class="message_container mt30-md">
								<div class="user_heading">
									<div class="wrap">
										<span class="contact-status online"></span>
										<img class="img-fluid mr10" src="{% static 'images/team/s3.jpg' %}" alt="s3.jpg"/>
										<div class="meta">
											<a class="text-thm tdu float-right fz14" href="#">Delete Conversation</a>
											<h5 class="name">Arlene McCoy</h5>
											<p class="preview">Active</p>
										</div>
									</div>
								</div>
								<div class="inbox_chatting_box">
									<ul class="chatting_content">
										<li class="sent">
											<div class="df">
												<img class="img-fluid align-self-start mr-3" src="{% static 'images/team/s4.jpg' %}" alt="s4.jpg"/>
												<h5 class="title">Albert Flores <small class="body-color ml15">35 mins</small></h5>
											</div>
								    	<p>How likely are you to recommend our company to your friends and family?</p>
										</li>
										<li class="reply first">
											<div class="df justify-content-end">
												<h5 class="title"><small class="body-color mr15">35 mins</small> You</h5>
												<img class="img-fluid align-self-end ml-3" src="{% static 'images/team/s5.jpg' %}" alt="s5.jpg"/>
											</div>
								    	<p>Hey there, we’re just writing to let you know that you’ve been subscribed to a repository on GitHub.</p>
										</li>
										<li class="sent">
											<div class="df">
												<img class="img-fluid align-self-start mr-3" src="{% static 'images/team/s5.jpg' %}" alt="s5.jpg"/>
												<h5 class="title">Albert Flores <small class="body-color ml15">35 mins</small></h5>
											</div>
								    	<p>Ok, Understood!</p>
										</li>
										<li class="reply first">
											<div class="df justify-content-end">
												<h5 class="title"><small class="body-color mr15">35 mins</small> You</h5>
												<img class="img-fluid align-self-end ml-3" src="{% static 'images/team/s5.jpg' %}" alt="s5.jpg"/>
											</div>
								    	<p>The project finally complete! Let's go to!.</p>
										</li>
										<li class="sent">
											<div class="df">
												<img class="img-fluid align-self-start mr-3" src="{% static 'images/team/s4.jpg' %}" alt="s4.jpg"/>
												<h5 class="title">Albert Flores <small class="body-color ml15">35 mins</small></h5>
											</div>
								    	<p>Let's go!</p>
										</li>
										<li class="sent">
											<div class="df">
												<img class="img-fluid align-self-start mr-3" src="{% static 'images/team/s4.jpg' %}" alt="s4.jpg"/>
												<h5 class="title">Albert Flores <small class="body-color ml15">35 mins</small></h5>
											</div>
								    	<p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
										</li>
										<li class="sent">
											<div class="df">
												<img class="img-fluid align-self-start mr-3" src="{% static 'images/team/s4.jpg' %}" alt="s4.jpg"/>
												<h5 class="title">Albert Flores <small class="body-color ml15">35 mins</small></h5>
											</div>
								    	<p>Hello, John!</p>
										</li>
										<li class="reply first">
											<div class="df justify-content-end">
												<h5 class="title"><small class="body-color mr15">35 mins</small> You</h5>
												<img class="img-fluid align-self-end ml-3" src="{% static 'images/team/s5.jpg' %}" alt="s5.jpg"/>
											</div>
								    	<p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
										</li>
										<li class="reply first">
											<div class="df justify-content-end">
												<h5 class="title"><small class="body-color mr15">35 mins</small> You</h5>
												<img class="img-fluid align-self-end ml-3" src="{% static 'images/team/s5.jpg' %}" alt="s5.jpg"/>
											</div>
								    	<p>Are we meeting today?</p>
										</li>
										<li class="reply first">
											<div class="df justify-content-end">
												<h5 class="title"><small class="body-color mr15">35 mins</small> You</h5>
												<img class="img-fluid align-self-end ml-3" src="{% static 'images/team/s5.jpg' %}" alt="s5.jpg"/>
											</div>
								    	<p>The project finally complete! Let's go to!</p>
										</li>
										<li class="sent">
											<div class="df">
												<img class="img-fluid align-self-start mr-3" src="{% static 'images/team/s4.jpg' %}" alt="s4.jpg"/>
												<h5 class="title">Albert Flores <small class="body-color ml15">35 mins</small></h5>
											</div>
								    	<p>Let's go!</p>
										</li>
										<li class="sent">
											<div class="df">
												<img class="img-fluid align-self-start mr-3" src="{% static 'images/team/s4.jpg' %}" alt="s4.jpg"/>
												<h5 class="title">Albert Flores <small class="body-color ml15">35 mins</small></h5>
											</div>
								    	<p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
										</li>
										<li class="reply first">
											<div class="df justify-content-end">
												<h5 class="title"><small class="body-color mr15">35 mins</small> You</h5>
												<img class="img-fluid align-self-end ml-3" src="{% static 'images/team/s5.jpg' %}" alt="s5.jpg"/>
											</div>
								    	<p>Are we meeting today?</p>
										</li>
										<li class="reply first">
											<div class="df justify-content-end">
												<h5 class="title"><small class="body-color mr15">35 mins</small> You</h5>
												<img class="img-fluid align-self-end ml-3" src="{% static 'images/team/s5.jpg' %}" alt="s5.jpg"/>
											</div>
								    	<p>The project finally complete! Let's go to!</p>
										</li>
										<li class="sent">
											<div class="df">
												<img class="img-fluid align-self-start mr-3" src="{% static 'images/team/s4.jpg' %}" alt="s4.jpg"/>
												<h5 class="title">Albert Flores <small class="body-color ml15">35 mins</small></h5>
											</div>
								    	<p>Let's go!</p>
										</li>
										<li class="sent">
											<div class="df">
												<img class="img-fluid align-self-start mr-3" src="{% static 'images/team/s4.jpg' %}" alt="s4.jpg"/>
												<h5 class="title">Albert Flores <small class="body-color ml15">35 mins</small></h5>
											</div>
								    	<p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
										</li>
									</ul>
								</div>
								<div class="mi_text">
									<div class="message_input">
										<form class="form-inline">
								    	<input class="form-control" type="search" placeholder="Type a Message" aria-label="Search">
								    	<button class="btn" type="submit">Send</button>
								    </form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt50">
						<div class="col-lg-12 text-center">
							<p class="mb0">Copyright © 2021 CreativeLayers. All Right Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}