{% extends 'properties/index.html' %}
{% load static %}
{% block title %}package details{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}
	<!-- Our Dashbord -->
	<script src="https://unpkg.com/htmx.org@1.9.0"></script>
	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
							</div>
						</div>
					</div>
				<div class="row">
				<div class="col-lg-12">
				  <!-- amenitites -->
				  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		          <!-- <div class="new_property_form"> -->
					<!-- <h4 class="mb30">Select Available </h4> -->
					<div class="col-sm-6 col-xl-6">
                        <div class="pricing_packages">
                            <div class="heading text-center">
                                <h5 class="package_title">STARTER</h5>
                                <h2 class="text2">$99.89</h2>
                                <!-- <h2 class="text1">$199.89</h2> -->
                            </div>
                            <div class="details">
                                <ul	 class="list">
                                    <li>Basic Listing Submission</li>
                                    <li>One Listing</li>
                                    <li>30 Days Availability</li>
                                    <li>Limited Support</li>
                                    <li>Accept Reviews</li>
                                    <li>Edit Your Listing</li>
                                </ul>
                                <a href="{% url 'properties:payment-options'  %}" class="btn package_btn">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                                
		          <!-- </div>			   -->
				</div>
				
				</div>
					<div class="row mt50">
						<div class="col-lg-12 text-center">
							<p class="mb0">Copyright © 2021 Afrihuts.com All Right Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
{% endblock %}