{% extends 'properties/index.html' %}
{% load static %}
{% block title %}create lodge{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}
	<!-- Our Dashbord -->
	{% include 'users/dashboard-nav-1.html' %}
	<!-- Our Dashbord -->

	<section class="our-dashbord dashbord bgc-alice-blue">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xl-2 dn-lg pl0"></div>
				<div class="col-xl-10">
					<div class="row">
						{% include 'users/dashboard-nav.html' %}
						<div class="col-lg-12 mb50">
							<div class="breadcrumb_content">
								<h2 class="breadcrumb_title">Lodge Map location </h2>
								
							</div>
						</div>
					</div>
				<div class="row">
				
				<div class="col-lg-12">

				  <!-- location details -->
		          <div class="new_property_form">
						<h4 class="title mb30">Location</h4>
						<form class="contact_form" name="contact_form" action="{% url 'lodges:lodge-location' %}" method="post" >
                            {% csrf_token %}
						<div class="row">
							
							<div class="col-md-12">
								<div class="form-group mb30">
                                    {{form.map_location}}
									<!-- <input name="location_area" id="location_area"
										class="form-control form_control" type="text"
										placeholder="Map Location"> -->
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group mb20">
									<div class="h350 bdrs3" id="map-canvas"></div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
                                    {{form.lat}}
									<!-- <input name="form_name" readonly id="latitude"
										class="form-control form_control" type="text" placeholder="Latitude"> -->
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
                                    {{form.long}}
									<!-- <input name="form_name" id="longitude" readonly
										class="form-control form_control" type="text" placeholder="Longitude"> -->
								</div>
							</div>
						</div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-thm listing_save_btn">Next</button>
                        </div>
						</form>
                        
					</div>

				  
				</div>
				</div>
					<div class="row mt50">
						<div class="col-lg-12 text-center">
							<p class="mb0">Copyright © 2021 Afrihuts.com All Right Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<script>
    	// Create auto complete variable
		let autocomplete;

		// Function handles auto completion event
		function onPlaceChanged() {
			var place = autocomplete.getPlace();

			if (!place.geometry) {
				document.getElementById('location_area').placeholder = 'Location Name';
			} else {
				codeAddress();
			}
		}

		var geocoder;
		var map;

		function initializeGeocoder() {
			autocomplete = new google.maps.places.Autocomplete(document.getElementById('location_area'), {
				types: ['establishment'],
				fields: ['geometry', 'name', 'address_components']
			});

			autocomplete.addListener('place_changed', onPlaceChanged);

			geocoder = new google.maps.Geocoder();

			var latlng = new google.maps.LatLng(-15.801934, 35.026139);
			var mapOptions = {
				zoom: 15,
				center: latlng
			}
			map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		}

		function codeAddress() {

			const iconurl = {
				url: '/static/icons.ico',
				scaledSize: new google.maps.Size(5, 5), // scaled size
				origin: new google.maps.Point(0,0), // origin
				anchor: new google.maps.Point(0, 0) // anchor
			};

			var address = document.getElementById('location_area').value;
			geocoder.geocode({ 'address': address }, function (results, status) {
				if (status == 'OK') {
					map.setCenter(results[0].geometry.location);
					var marker = new google.maps.Marker({
						map: map,
						position: results[0].geometry.location,
						draggable: true,
						title: "Drag Marker",
						// icon: iconurl
					});

					AddGeometryValues(results[0].geometry.location.lat(), results[0].geometry.location.lng())

					marker.addListener('drag', handleMarkerEvent);
					marker.addListener('dragend', handleMarkerEvent);
				} else {
					alert('Geocode was not successful for the following reason: ' + status);
				}
			});
		}

		function AddGeometryValues(latitude, longitude) {
			lat = document.getElementById('latitude');
			lng = document.getElementById('longitude');

			// Add values to fields
			lat.value = latitude
			lng.value = longitude
		}

		function handleMarkerEvent(event) {
			lat = document.getElementById('latitude');
			lng = document.getElementById('longitude');

			lat.value = event.latLng.lat();
			lng.value = event.latLng.lng();
		}

	</script>
	
{% endblock %}