{% extends 'properties/index.html' %}
{% load static %}
{% block title %}Lodge Detail{% endblock title %}
{% block header %}
    {% include 'properties/header-2.html' %}
{% endblock header %}
{% block content %}

  <!-- Listing Single Property -->
  <section class="listing-title-area pb0">
    
    <div class="container">
      <div class="row mb10">
        <div class="col-lg-7 col-xl-7">
          <div class="single_property_title mt30-767">
            <div class="breadcrumb_content style3">
              <ol class="breadcrumb mb0">
                <li class="breadcrumb-item"><a href="#">Lodges</a></li>
                <!-- <li class="breadcrumb-item"><a href="#">Apartment</a></li> -->
                <li class="breadcrumb-item active style2" aria-current="page">{{lodge.name}}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb30">
        <div class="col-lg-8 col-xl-8">
          <div class="single_property_title mt30-767">
            <div class="media">
              <div class="media-body">
                <h2 class="mt-0 text-uppercase">{{lodge.name}}</h2>
                <div class="df db-400 mb20-400">
                  <p class="mr10 text-monospace">{{lodge.map_location}}</p>
                  <a href="#" class="theme_badge mr10">FEATURED</a>
                  <a href="#" class="theme_badge2 mr10">Hot Offer</a>
                  <!-- <a href="#" class="theme_badge3">FOR SALE</a> -->
                </div>
                <ul class="prop_details mb0">
                  <li class="list-inline-item mr20"><a class="mr20" href="#"><span class="flaticon-bed pr5 vam"></span> {{lodge.rooms.count}} Room Types</a></li>
                  
                  <li class="list-inline-item mr20"><a href="#"><span class="flaticon-calendar pr5 vam"></span> {{lodge.pictures.count}} Images</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-4">
          <div class="single_property_social_share_content text-right tal-md">
            <div class="spss style2">
              <ul class="mb0">
                <li class="list-inline-item icon"><a href="#"><span class="flaticon-share"></span></a></li>
                <li class="list-inline-item"><a href="#">Share</a></li>
                <li class="list-inline-item icon"><a href="#"><span class="flaticon-heart-shape-outline"></span></a></li>
                <li class="list-inline-item"><a href="#">Save</a></li>
              </ul>
            </div>
            <!-- <div class="price mt20 mb10"><h3><small class="mr10"><del>$2,800/mo</del></small> $7,500/mo</h3></div> -->
            <!-- <p class="mb0">Est. Mortgage</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>


   <div class="single_page_listing_tab">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs" id="myTab2" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="slider-tab" data-toggle="tab" href="#slider_tabs" role="tab" aria-controls="slider_tabs" aria-selected="true"><span class="flaticon-picture color-white"></span></a>
            </li>
           
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="tab-content" id="myTabContent2">
            <div class="tab-pane fade show active" id="slider_tabs" role="tabpanel" aria-labelledby="slider-tab">
                <!-- 10th Home Slider -->
              <div class="home10-mainslider">
                <div class="container p0">
                  <div class="row">
                    <div class="col-lg-12">
                      
                      <div class="property_sp3_slider psp_v5">
                        {% for image in lodge.pictures.all %}
                        <div class="item">
                          <div class="sps_content">
                            <div class="thumb">
                              <div class="single_product">
                                <div class="single_item">
                                  <div class="thumb"><img class="img-fluid bdrs3" src="{{image.img.img.url}}" alt="18.jpg"></div>
                                </div>
                                <a class="product_popup popup-img" href="{{image.img.img.url}}"><span class="flaticon-zoom-in"></span></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Agent Single Grid View -->
  <section class="our-agent-single pt0 pb70">
    <div class="container">
      <div class="row justify-content-center ">
        <div class="col-xl-9">
          <div class="row">

            <!-- lodge description -->
            <div class="col-lg-12">
              <div class="listing_single_description mt50  bb1">
                <h4 style="text-decoration: underline;" class="mb30 text-decoration-underline">Description</h4>
                <p class="first-Description mb25 text-monospace">Occupying over 8,000 square feet, perched over 1,100 feet in the air with absolutely breathtaking panoramic 360-degree views of all of New York City and the surrounding tri-state area, The 82nd Floor at 432 Park Avenue has been completely reimagined by one of the most sought-after design houses in London and represents an utterly unique opportunity to own a globally significant property.</p>  
              </div>
            </div>

            <!-- lodge cancellation policy -->
            <div class="col-lg-12">
              <div class="listing_single_description mt50  bb1">
                  <h4 style="text-decoration: underline;" class="mb30 text-decoration-underline">Lodge Cancellation Policy</h4>
                  {% for policy in lodge.lodge_policies.all %}
                  <h5>{{policy.policy.policy_title}}</h5>
                  <p class="first-Description mb25 text-monospace">{{policy.policy.policy_description|safe}}</p>  
                  {% endfor %}
                </div>
              </div>
            </div>

            <!--  check lodge availability -->
            <div class="col-lg-12 mt30">
              <div class="form_grid ">
                <h4 style="text-decoration: underline;" class=" mb10">Check Availability</h4>
                <form 
                class="contact_form" 
                name="contact_form" 
                hx-target="#available-rooms" 
                hx-swap="outerHTML" 
                hx-post="{% url 'lodges:search-available-rooms' lodge.id %}" 
                >
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="daterange">Select Your Dates</label>
                        <input 
                        name="daterange" 
                        id="date-range"
                        class="form-control required email" 
                        required="required" 
                        type="text" 
                        placeholder="Enter your dates">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="quantity">Enter Number of Rooms</label>
                        <input name="quantity" class="form-control required email" min="1" value="1" required type='number' placeholder="How many rooms?">
                      </div>
                    </div>
                    <button
                    type="submit" class="col-md-2 btn btn-thm">Check Availability</button>
                  </div>
                </form>
              </div>
            </div>

            <div id="available-rooms">

            </div>

            <!-- lodge rooms categories-->
            {% comment %}
            <div class="col-lg-12">
              <div class="additional_details pb40 mt50 bb1">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 style="text-decoration: underline;" class="mb15 text-decoration-underline">Room Categories </h4>
                  </div>

                  {% for room_cat in lodge.rooms.all %}
                  
                  <div class="col-md-6 col-lg-6 col-xl-6">
                    <div class="col-auto">
                      <ul class="list-inline-item">
                        <li><p>Room Type:</p></li>
                        <li><p>Price per night: </p></li>
                        <li><p>num of Children:</p></li>
                        <li><p>num of Adults:</p></li>
                        <li><p>num of Beds:</p></li>
                      </ul>
                      <ul class="list-inline-item">
                        <li><p><span>{{room_cat.room_type}}</span></p></li>
                        <li><p><span>${{room_cat.price_per_night}}</span></p></li>
                        <li><p><span>{{room_cat.children}}</span></p></li>
                        <li><p><span>{{room_cat.adults}}</span></p></li>                      
                        <li><p><span>{{room_cat.beds}}</span></p></li>
                      </ul>
                      
                    </div>
                    <!-- <a href="{% url 'lodges:booking-step-1' lodge.id room_cat.id %}" class="ml-4 btn btn-thm">Book Room</a> -->
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endcomment %}

            <!-- lodge location -->
            <div class="col-lg-12">
              <div class="location_details pb40 mt50 bb1">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 style="text-decoration: underline;" class="mb15">Location</h4>
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item mb0">
                      <li><p>Street location: </p> {{lodge.street_name}}</li>
                    </ul>
                    
                  </div>
                  <div class="col-md-6 col-lg-6 col-xl-4">
                    <ul class="list-inline-item mb0">
                      <li><p>Map location:</p>{{lodge.map_location}}</li>
                      
                    </ul>
                    
                  </div>
                  
                  <div class="col-lg-12">
                    <div class="property_sp_map mt30">
                      <div class="h300 bdrs3" id="map-canvas"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- lodge amenities -->
            <div class="col-lg-12">
              <div class="additional_details pb40 mt50 bb1">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 style="text-decoration: underline;" class="mb30">Amenities</h4>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-air-conditioner"></span></div>
                      <div class="details">
                        <div class="title">Air Conditioning</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-grass"></span></div>
                      <div class="details">
                        <div class="title">Lawn</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-refrigerator"></span></div>
                      <div class="details">
                        <div class="title">Refrigerator</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-liquid-soap"></span></div>
                      <div class="details">
                        <div class="title">Washer</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-barbecue"></span></div>
                      <div class="details">
                        <div class="title">Barbeque</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-laundry"></span></div>
                      <div class="details">
                        <div class="title">Laundry</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-sauna"></span></div>
                      <div class="details">
                        <div class="title">Sauna</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-wifi"></span></div>
                      <div class="details">
                        <div class="title">WiFi</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-dryer"></span></div>
                      <div class="details">
                        <div class="title">Dryer</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-microwave"></span></div>
                      <div class="details">
                        <div class="title">Microwave</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-swimmer"></span></div>
                      <div class="details">
                        <div class="title">Swimming Pool</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-blinds"></span></div>
                      <div class="details">
                        <div class="title">Window Coverings</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-dumbbell"></span></div>
                      <div class="details">
                        <div class="title">Gym</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-outdoor-shower"></span></div>
                      <div class="details">
                        <div class="title">Outdoor Shower</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-coaxial"></span></div>
                      <div class="details">
                        <div class="title">TV Cable</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-chair"></span></div>
                      <div class="details">
                        <div class="title">Dining room</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- lodge restrictions section -->
            <div class="col-lg-12">
              <div class="additional_details pb40 mt50 bb1">
                <div class="row">
                  <div class="col-lg-12">
                    <h4 style="text-decoration: underline;" class="mb30">Lodge Restrictions</h4>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-air-conditioner"></span></div>
                      <div class="details">
                        <div class="title">Air Conditioning</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-grass"></span></div>
                      <div class="details">
                        <div class="title">Lawn</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-refrigerator"></span></div>
                      <div class="details">
                        <div class="title">Refrigerator</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-liquid-soap"></span></div>
                      <div class="details">
                        <div class="title">Washer</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-barbecue"></span></div>
                      <div class="details">
                        <div class="title">Barbeque</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-laundry"></span></div>
                      <div class="details">
                        <div class="title">Laundry</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-sauna"></span></div>
                      <div class="details">
                        <div class="title">Sauna</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-dumbbell"></span></div>
                      <div class="details">
                        <div class="title">Gym</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-outdoor-shower"></span></div>
                      <div class="details">
                        <div class="title">Outdoor Shower</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-coaxial"></span></div>
                      <div class="details">
                        <div class="title">TV Cable</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xl-3">
                    <div class="listing_feature_iconbox mb30">
                      <div class="icon float-left mr10"><span class="flaticon-chair"></span></div>
                      <div class="details">
                        <div class="title">Dining room</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- lodge reviews -->
            <div class="col-lg-12">
              <div class="custom_reivews pb50 mt50 bb1 row">
                <div class="col-lg-12">
                  <h4 style="text-decoration: underline;" class="mb25">4.67 (14 reviews)</h4>
                </div>
                <div class="col-md-6 col-lg-6">
                  <div class="mbp_first mt15">
                    
                    <div class="media-body mt15">
                      <h4 class="sub_title mt-0">Jane Cooper</h4>
                      <div class="sspd_postdate fz14 mb20">April 6, 2021 at 3:21 AM
                        
                      </div>
                      <p class="fz14 mt10">Every single thing we tried with John was delicious! Found some awesome places we would definitely go back to on our trip. John was also super friendly and passionate about Beşiktaş and Istanbul.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6">
                  <div class="mbp_first mt15">
                    
                    <div class="media-body mt15">
                      <h4 class="sub_title mt-0">Bessie Cooper</h4>
                      <div class="sspd_postdate fz14 mb20">April 6, 2021 at 3:21 AM
                        <div class="sspd_review pull-right">
                          <ul class="mb0 pl15">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-star"></i></a></li>
                            <li class="list-inline-item">(5 reviews)</li>
                          </ul>
                        </div>
                        </div>
                      <p class="fz14 mt10">Every single thing we tried with John was delicious! Found some awesome places we would definitely go back to on our trip. John was also super friendly and passionate about Beşiktaş and Istanbul.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- lodge review form -->
            <div class="col-lg-12">
              <div class="bsp_reveiw_wrt mt50">
                <h4>Write a Review</h4>
                
                <form class="comments_form">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea class="form-control" rows="6" placeholder="Enter Your Message"></textarea>
                      </div>
                      <button type="submit" class="btn btn-thm">Send Your Review</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
<script>
  var geocoder;
    var map;
    var lat = parseFloat({{lodge.lat}})
    var lon = parseFloat({{lodge.long}})
    var address = "{{lodge.map_location}}"

    function initializeGeocoder() {
        geocoder = new google.maps.Geocoder();

        var latlng = new google.maps.LatLng(lat, lon);
        var mapOptions = {
            zoom: 15,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    

        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: false,
                    title: "{{lodge.name}}",
                    // icon: iconurl
                });

            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
      }

</script>
<script>
    $(function() {

        const date = new Date();
        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();


        $('input[name="daterange"]').daterangepicker({
            opens: 'center',
            "alwaysShowCalendars": true,
            "startDate": `${year}/${month}/${day}`,
            // "endDate": `${month}/${day}/${year}`,
            "minDate": `${year}/${month}/${day}`,
            "locale": {
              "format": "YYYY-MM-DD",
              "separator": " to ",
              "applyLabel": "Apply",
              "cancelLabel": "Cancel",
              "fromLabel": "From",
              "toLabel": "To",
              "customRangeLabel": "Custom",
              "weekLabel": "W",
              "daysOfWeek": [
                  "Su",
                  "Mo",
                  "Tu",
                  "We",
                  "Th",
                  "Fr",
                  "Sa"
              ],
              "monthNames": [
                  "January",
                  "February",
                  "March",
                  "April",
                  "May",
                  "June",
                  "July",
                  "August",
                  "September",
                  "October",
                  "November",
                  "December"
              ],
              "firstDay": 1
          },

        }, function(start, end, label) {
            console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            
        });
    });
</script>
  {% include 'properties/footer.html' %}
{% endblock %}